Repository kubeflow/model-registry, pull requests merged in 2024-12, with the labels that each got.

#599 feat(bff): use 'kubeflow-userid' header to authorize BFF endpoints
  clients/ui/bff/README.md
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/errors.go
  clients/ui/bff/internal/api/healthcheck__handler_test.go
  clients/ui/bff/internal/api/healthcheck_handler.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_versions_handler_test.go
  clients/ui/bff/internal/api/registered_models_handler_test.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/integrations/http.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/k8s_mock_test.go
  clients/ui/bff/internal/models/health_check.go
  clients/ui/bff/internal/repositories/health_check.go
  clients/ui/frontend/docs/dev-setup.md
  clients/ui/manifests/user-rbac/kubeflow-dashboard-rbac.yaml
  clients/ui/manifests/user-rbac/kustomization.yaml
  clients/ui/scripts/deploy_kind_cluster.sh
Labels: approved, lgtm, size/L, Area/UI

#596 Theme Sidebar and Nav Items for Consistency with Central Dashboard UI
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/NavSidebar.tsx
  clients/ui/frontend/src/images/logo.svg
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/L, Area/UI

#617 chore: align manifest for 0.2.11
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#618 chore: bump py version
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#601 feat(csi): restructure the CSI as different mr executable
  .github/dependabot.yml
  .github/workflows/build-and-push-csi-image.yml
  .github/workflows/csi-test.yml
  .gitignore
  Makefile
  cmd/csi/Dockerfile.csi
  cmd/csi/GET_STARTED.md
  cmd/csi/README.md
  cmd/csi/main.go
  cmd/csi/samples/modelregistry.clusterstoragecontainer.yaml
  csi/.gitignore
  csi/Dockerfile
  csi/Dockerfile.dev
  csi/Makefile
  csi/go.mod
  csi/go.sum
  internal/csi/constants/constants.go
  internal/csi/modelregistry/api_client.go
  internal/csi/storage/modelregistry_provider.go
  test/csi/e2e_test.sh
  test/csi/setup_test_env.sh
  test/csi/test_utils.sh
  test/scripts/install_kustomize.sh
  test/scripts/install_modelregistry.sh
Labels: approved, lgtm, size/XL, Area/GitHub, Area/Go REST server, Area/CSI

#630 feat(bff): user info endpoint
  clients/ui/bff/README.md
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/user_handler.go
  clients/ui/bff/internal/api/user_handler_test.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/k8s_mock_test.go
  clients/ui/bff/internal/models/user.go
  clients/ui/bff/internal/repositories/repositories.go
  clients/ui/bff/internal/repositories/user.go
Labels: approved, lgtm, size/L, Area/UI

#632 build(deps-dev): bump react-router-dom and react-router from 6.28.0 to 7.0.2 in /clients/ui/frontend
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/M, Area/UI

#641 Improve username logic and add navbar elements
  clients/ui/api/openapi/mod-arch.yaml
  clients/ui/bff/internal/models/health_check.go
  clients/ui/bff/internal/models/user.go
  clients/ui/frontend/src/__mocks__/mockUserSettings.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/e2e.ts
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/NavBar.tsx
  clients/ui/frontend/src/shared/api/apiUtils.ts
  clients/ui/frontend/src/shared/api/k8s.ts
  clients/ui/frontend/src/shared/api/types.ts
  clients/ui/frontend/src/shared/hooks/useSettings.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
  clients/ui/frontend/src/shared/types.ts
  clients/ui/frontend/src/shared/utilities/const.ts
Labels: approved, lgtm, size/L, Area/UI

#633 feat(bff): update bff service filtering to match model registry services by component: model-registry label
  clients/ui/bff/README.md
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/mocks/k8s_mock.go
Labels: approved, lgtm, size/L, Area/UI

#642 Add support for env variables in the frontend
  clients/ui/frontend/.env
  clients/ui/frontend/.eslintrc.cjs
  clients/ui/frontend/.gitignore
  clients/ui/frontend/config/dotenv.js
  clients/ui/frontend/config/webpack.common.js
  clients/ui/frontend/config/webpack.dev.js
  clients/ui/frontend/config/webpack.prod.js
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/unit/testUtils/hooks.spec.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
  clients/ui/frontend/src/images/logo-dark-theme.svg
  clients/ui/frontend/src/images/logo-light-theme.svg
  clients/ui/frontend/src/shared/components/design/utils.ts
  clients/ui/frontend/tsconfig.json
Labels: approved, lgtm, size/XXL, Area/UI

#661 fix(ci): change netcat package on ubuntu 24.04
  .github/workflows/csi-test.yml
Labels: size/XS, approved, lgtm, Area/GitHub

#659 build: use also different K8s versions for E2E testing in GHA
  .github/workflows/python-tests.yml
Labels: approved, size/S, lgtm, Area/GitHub

#660 feat(bff): authorize endpoints based on kubeflow-userid and kubeflow-groups header
  clients/ui/bff/README.md
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/api/model_versions_handler_test.go
  clients/ui/bff/internal/api/namespaces_handler.go
  clients/ui/bff/internal/api/registered_models_handler.go
  clients/ui/bff/internal/api/registered_models_handler_test.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/integrations/http.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/mocks/http_mock.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/k8s_mock_test.go
  clients/ui/bff/internal/repositories/model_registry.go
  clients/ui/bff/internal/repositories/model_registry_test.go
  clients/ui/bff/internal/repositories/namespace.go
Labels: approved, lgtm, size/XL, Area/UI

#657 fix(frontend): fixing cve (low severity), build(deps): bump sass from 1.80.6 to 1.83.0, and also type check
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/shared/utilities/markdown.ts
Labels: approved, lgtm, size/M, Area/UI
