Repository kubeflow/model-registry, pull requests merged in 2024-08, with the labels that each got.

#233 Enhance UI client docs and bundler configuration
  clients/ui/frontend/CONTRIBUTING.md
  clients/ui/frontend/README.md
  clients/ui/frontend/config/stylePaths.js
  clients/ui/frontend/config/webpack.common.js
  clients/ui/frontend/config/webpack.dev.js
  clients/ui/frontend/config/webpack.prod.js
  clients/ui/frontend/docs/README.md
  clients/ui/frontend/docs/architecture.md
  clients/ui/frontend/docs/dev-setup.md
  clients/ui/frontend/docs/testing.md
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/stylePaths.js
Labels: approved, lgtm, size/XL

#237 chore: removing temporarly test execution
  .github/workflows/ui-frontend-build.yml
Labels: size/XS, approved, lgtm

#235 wrap default openapi error handler
  .openapi-generator-ignore
  internal/server/openapi/api_model_registry_service_service.go
  internal/server/openapi/error.go
  internal/server/openapi/helpers.go
  test/robot/Regression.robot
Labels: approved, lgtm, size/L

#230 docker: align docker-compose image to upstream
  docker-compose.yaml
Labels: size/XS, approved, lgtm

#236 py(chore): ignore MD generation from openapi-codegen
  clients/python/Makefile
  clients/python/src/.openapi-generator-ignore
  clients/python/src/.openapi-generator/FILES
Labels: approved, lgtm, size/L

#238 py(chore): bump to next version
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm

#234 Setup Cypress UI testing
  .github/workflows/ui-frontend-build.yml
  clients/ui/frontend/.env.cypress.mock
  clients/ui/frontend/CONTRIBUTING.md
  clients/ui/frontend/docs/dev-setup.md
  clients/ui/frontend/docs/testing.md
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/cypress/.gitignore
  clients/ui/frontend/src/__tests__/cypress/cypress.config.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/home.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/pageNoteFound.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/axe.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/index.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/e2e.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/application.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/utils/testConfig.ts
  clients/ui/frontend/src/__tests__/cypress/tsconfig.json
  clients/ui/frontend/src/app/app.test.tsx
  clients/ui/frontend/tsconfig.json
Labels: approved, lgtm, size/XXL

#251 Py: bump aiohttp to 3.10.1
  clients/python/poetry.lock
  clients/python/src/.openapi-generator-ignore
  clients/python/src/.openapi-generator/FILES
  clients/python/src/mr_openapi/test/__init__.py
  clients/python/src/mr_openapi/test/test_artifact.py
  clients/python/src/mr_openapi/test/test_artifact_list.py
  clients/python/src/mr_openapi/test/test_artifact_state.py
  clients/python/src/mr_openapi/test/test_base_artifact.py
  clients/python/src/mr_openapi/test/test_base_artifact_create.py
  clients/python/src/mr_openapi/test/test_base_artifact_update.py
  clients/python/src/mr_openapi/test/test_base_execution.py
  clients/python/src/mr_openapi/test/test_base_execution_create.py
  clients/python/src/mr_openapi/test/test_base_execution_update.py
  clients/python/src/mr_openapi/test/test_base_resource.py
  clients/python/src/mr_openapi/test/test_base_resource_create.py
  clients/python/src/mr_openapi/test/test_base_resource_list.py
  clients/python/src/mr_openapi/test/test_base_resource_update.py
  clients/python/src/mr_openapi/test/test_doc_artifact.py
  clients/python/src/mr_openapi/test/test_error.py
  clients/python/src/mr_openapi/test/test_execution_state.py
  clients/python/src/mr_openapi/test/test_inference_service.py
  clients/python/src/mr_openapi/test/test_inference_service_create.py
  clients/python/src/mr_openapi/test/test_inference_service_list.py
  clients/python/src/mr_openapi/test/test_inference_service_state.py
  clients/python/src/mr_openapi/test/test_inference_service_update.py
  clients/python/src/mr_openapi/test/test_metadata_bool_value.py
  clients/python/src/mr_openapi/test/test_metadata_double_value.py
  clients/python/src/mr_openapi/test/test_metadata_int_value.py
  clients/python/src/mr_openapi/test/test_metadata_proto_value.py
  clients/python/src/mr_openapi/test/test_metadata_string_value.py
  clients/python/src/mr_openapi/test/test_metadata_struct_value.py
  clients/python/src/mr_openapi/test/test_metadata_value.py
  clients/python/src/mr_openapi/test/test_model_artifact.py
  clients/python/src/mr_openapi/test/test_model_artifact_create.py
  clients/python/src/mr_openapi/test/test_model_artifact_list.py
  clients/python/src/mr_openapi/test/test_model_artifact_update.py
  clients/python/src/mr_openapi/test/test_model_registry_service_api.py
  clients/python/src/mr_openapi/test/test_model_version.py
  clients/python/src/mr_openapi/test/test_model_version_create.py
  clients/python/src/mr_openapi/test/test_model_version_list.py
  clients/python/src/mr_openapi/test/test_model_version_state.py
  clients/python/src/mr_openapi/test/test_model_version_update.py
  clients/python/src/mr_openapi/test/test_order_by_field.py
  clients/python/src/mr_openapi/test/test_registered_model.py
  clients/python/src/mr_openapi/test/test_registered_model_create.py
  clients/python/src/mr_openapi/test/test_registered_model_list.py
  clients/python/src/mr_openapi/test/test_registered_model_state.py
  clients/python/src/mr_openapi/test/test_registered_model_update.py
  clients/python/src/mr_openapi/test/test_serve_model.py
  clients/python/src/mr_openapi/test/test_serve_model_create.py
  clients/python/src/mr_openapi/test/test_serve_model_list.py
  clients/python/src/mr_openapi/test/test_serve_model_update.py
  clients/python/src/mr_openapi/test/test_serving_environment.py
  clients/python/src/mr_openapi/test/test_serving_environment_create.py
  clients/python/src/mr_openapi/test/test_serving_environment_list.py
  clients/python/src/mr_openapi/test/test_serving_environment_update.py
  clients/python/src/mr_openapi/test/test_sort_order.py
  clients/python/tests/conftest.py
Labels: approved, lgtm, size/XXL

#252 Add Dockerfile for serving containerised frontend
  clients/ui/docker-compose.yaml
  clients/ui/frontend/.dockerignore
  clients/ui/frontend/Dockerfile
  clients/ui/frontend/Makefile
  clients/ui/frontend/config/webpack.dev.js
  clients/ui/frontend/nginx.conf
Labels: approved, lgtm, size/M

#256 fix: made install_protoc.sh compatible with wget2
  scripts/install_protoc.sh
Labels: approved, size/S, lgtm

#253 openapi: require name for contexts
  api/openapi/model-registry.yaml
  internal/converter/generated/mlmd_openapi_converter.gen.go
  internal/converter/generated/openapi_converter.gen.go
  internal/converter/generated/openapi_mlmd_converter.gen.go
  internal/converter/mlmd_converter_util_test.go
  internal/converter/mlmd_openapi_converter.go
  internal/converter/mlmd_openapi_converter_util.go
  internal/converter/openapi_mlmd_converter.go
  internal/converter/openapi_mlmd_converter_util.go
  internal/mapper/mapper.go
  internal/mapper/mapper_test.go
  internal/server/openapi/impl.go
  internal/server/openapi/type_asserts.go
  pkg/core/core_test.go
  pkg/openapi/model_model_version.go
  pkg/openapi/model_model_version_create.go
  pkg/openapi/model_registered_model.go
  pkg/openapi/model_registered_model_create.go
  test/robot/Regression.robot
Labels: approved, lgtm, size/L

#272 Adds description and display name properties to mocked ModelRegistry responses
  clients/ui/bff/api/model_registry_handler.go
  clients/ui/bff/api/model_registry_handler_test.go
  clients/ui/bff/data/model_registry.go
  clients/ui/bff/data/model_registry_test.go
  clients/ui/bff/integrations/k8s.go
  clients/ui/bff/internals/mocks/k8s_mock.go
Labels: approved, lgtm, size/M

#270 py: update contexts
  clients/python/src/mr_openapi/models/model_version.py
  clients/python/src/mr_openapi/models/model_version_create.py
  clients/python/src/mr_openapi/models/registered_model.py
  clients/python/src/mr_openapi/models/registered_model_create.py
Labels: approved, size/S, lgtm

#271 GHA: build: simplify action
  .github/workflows/build.yml
Labels: approved, lgtm, size/M

#285 Bump ruff to 0.6.1
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/core.py
  clients/python/src/model_registry/types/artifacts.py
  clients/python/src/model_registry/types/base.py
  clients/python/src/model_registry/types/contexts.py
  clients/python/src/mr_openapi/api_client.py
  clients/python/src/mr_openapi/configuration.py
  clients/python/src/mr_openapi/models/artifact.py
  clients/python/src/mr_openapi/models/metadata_value.py
  clients/python/tests/basic_test.py
  clients/python/tests/test_client.py
  clients/python/tests/test_core.py
  clients/python/tests/test_utils.py
Labels: approved, lgtm, size/L

#287 Add Tips section to README.md
  README.md
Labels: approved, size/S, lgtm

#284 Update tsconfig files
  clients/ui/frontend/src/__tests__/cypress/cypress.config.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/application.cy.ts
  clients/ui/frontend/src/__tests__/cypress/tsconfig.json
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/NavSidebar.tsx
  clients/ui/frontend/src/index.tsx
  clients/ui/frontend/tsconfig.json
Labels: approved, lgtm, size/M

#288 chore: remove go from bin
  Makefile
Labels: size/XS, approved, lgtm

#291 Add alexcreasy to owners of ui
  clients/ui/OWNERS
Labels: size/XS, approved, lgtm

#292 csi: drop go from bin
  csi/Makefile
Labels: approved, size/S, lgtm

#293 tidy scripts
  Makefile
  scripts/build_deploy.sh
  scripts/gen_openapi_server.sh
  scripts/gen_type_asserts.sh
  scripts/install_protoc.sh
Labels: approved, lgtm, size/L

#294 build(deps): bump @patternfly/react-{core|icons|style}
  clients/ui/frontend/docs/dev-setup.md
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/app/Dashboard/Dashboard.tsx
  clients/ui/frontend/src/app/Settings/Admin.tsx
  clients/ui/frontend/src/app/Support/Support.tsx
Labels: approved, lgtm, size/L

#289 Add app context and revamps App.tsx
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/AppContext.ts
  clients/ui/frontend/src/app/useSettings.tsx
  clients/ui/frontend/src/app/useTimeBasedRefresh.ts
  clients/ui/frontend/src/app/useUser.tsx
  clients/ui/frontend/src/components/browserStorage/BrowserStorageContext.tsx
  clients/ui/frontend/src/components/browserStorage/index.ts
  clients/ui/frontend/src/index.tsx
  clients/ui/frontend/src/types.ts
  clients/ui/frontend/src/utilities/const.ts
  clients/ui/frontend/src/utilities/useDeepCompareMemoize.ts
  clients/ui/frontend/src/utilities/useEventListener.ts
Labels: approved, lgtm, size/L

#312 chore: fix go .mod and .sum for CSI
  csi/go.mod
  csi/go.sum
Labels: size/XS, approved, lgtm

#315 chore: version bump
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm

#297 GHA: ignore unrelated file changes
  .github/workflows/python-tests.yml
  .github/workflows/ui-bff-build.yml
  .github/workflows/ui-frontend-build.yml
Labels: approved, lgtm, size/M

#299 Add Pull Request Template for UI team
  .github/pull_request_template.md
Labels: approved, size/S, lgtm

#313 GHA: trigger CSI tests on go.mod update
  .github/workflows/csi-test.yml
Labels: approved, size/S, lgtm

#314 Setup Jest for frontend unit testing
  clients/ui/frontend/babel.config.js
  clients/ui/frontend/config/transform.file.js
  clients/ui/frontend/config/transform.style.js
  clients/ui/frontend/jest.config.js
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/unit/jest.d.ts
  clients/ui/frontend/src/__tests__/unit/jest.setup.ts
  clients/ui/frontend/src/__tests__/unit/testUtils/hooks.spec.ts
  clients/ui/frontend/src/__tests__/unit/testUtils/hooks.ts
Labels: approved, lgtm, size/XXL

#317 chore: explicit bulletpoint for DCO
  .github/pull_request_template.md
Labels: size/XS, approved, lgtm

#316 Add mod arch OpenAPI spec
  clients/ui/api/openapi/mod-arch.yaml
Labels: approved, lgtm, size/XXL

#318 Move the frontend mock folder
  clients/ui/frontend/src/__mocks__/styleMock.js
Labels: size/XS, approved, lgtm

#320 Drop logical model mapping tests
  .github/workflows/run-robot-tests.yaml
  CONTRIBUTING.md
  test/robot/MLMetadata.py
  test/robot/MRandLogicalModel.robot
  test/robot/requirements.txt
Labels: approved, lgtm, size/L

#290 Add frontend linting rules for ESLint and Prettier
  .github/workflows/ui-frontend-build.yml
  clients/ui/frontend/.eslintignore
  clients/ui/frontend/.eslintrc
  clients/ui/frontend/.prettierignore
  clients/ui/frontend/.prettierrc
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/cypress/cypress.config.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/home.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/pageNoteFound.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/e2e.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/application.cy.ts
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/AppContext.ts
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/Dashboard/Dashboard.tsx
  clients/ui/frontend/src/app/NavSidebar.tsx
  clients/ui/frontend/src/app/NotFound/NotFound.tsx
  clients/ui/frontend/src/app/Settings/Admin.tsx
  clients/ui/frontend/src/app/Support/Support.tsx
  clients/ui/frontend/src/app/useSettings.tsx
  clients/ui/frontend/src/app/useTimeBasedRefresh.ts
  clients/ui/frontend/src/components/browserStorage/BrowserStorageContext.tsx
  clients/ui/frontend/src/index.tsx
  clients/ui/frontend/src/types.ts
  clients/ui/frontend/src/utilities/const.ts
Labels: approved, lgtm, size/XXL

#326 Test Python client against latest MR
  .github/workflows/python-tests.yml
  clients/python/Makefile
  clients/python/noxfile.py
  clients/python/pyproject.toml
  clients/python/tests/REST_bindings_test.py
  clients/python/tests/conftest.py
  clients/python/tests/test_client.py
  clients/python/tests/test_core.py
Labels: approved, lgtm, size/M
