Repository kubeflow/model-registry, pull requests merged in 2024-11, with the labels that each got.

#490 feat(bff): Use envtest for kubernetes testing instead of hardcoded mock
  clients/ui/bff/Makefile
  clients/ui/bff/go.mod
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_versions_handler_test.go
  clients/ui/bff/internal/api/registered_models_handler_test.go
  clients/ui/bff/internal/api/suite_test.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/k8s_mock_test.go
  clients/ui/bff/internal/mocks/suite_test.go
  clients/ui/bff/internal/repositories/model_registry_test.go
  clients/ui/bff/internal/repositories/suite_test.go
Labels: approved, lgtm, size/XL, Area/UI

#526 Multiple versions bumps: patternfly (6.0.0), eslint-plugin-jsx-a11y (6.10.2), eslint-plugin-react (7.37.2) and http-proxy-middleware (cve)
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsHeaderActions.tsx
Labels: approved, lgtm, size/L, Area/UI

#538 core: openapi factories, do not require artifactType
  Makefile
  api/openapi/model-registry.yaml
  clients/python/src/mr_openapi/models/doc_artifact.py
  clients/python/src/mr_openapi/models/doc_artifact_create.py
  clients/python/src/mr_openapi/models/doc_artifact_update.py
  clients/python/src/mr_openapi/models/model_artifact.py
  clients/python/src/mr_openapi/models/model_artifact_create.py
  clients/python/src/mr_openapi/models/model_artifact_update.py
  clients/python/src/mr_openapi/models/registered_model.py
  clients/python/src/mr_openapi/models/registered_model_create.py
  clients/python/tests/test_client.py
  internal/converter/generated/mlmd_openapi_converter.gen.go
  internal/converter/generated/openapi_converter.gen.go
  internal/converter/mlmd_converter_util_test.go
  internal/converter/mlmd_openapi_converter_util.go
  internal/server/openapi/api_model_registry_service.go
  internal/server/openapi/type_asserts.go
  pkg/openapi/factories.go
  pkg/openapi/model_doc_artifact.go
  pkg/openapi/model_doc_artifact_create.go
  pkg/openapi/model_doc_artifact_update.go
  pkg/openapi/model_model_artifact.go
  pkg/openapi/model_model_artifact_create.go
  pkg/openapi/model_model_artifact_update.go
  templates/go-server/controller-api.mustache
Labels: approved, lgtm, size/XL, Area/MR Python client, Area/Go REST server

#539 build(deps): bump @typescript-eslint/parser from 8.9.0 to 8.12.2 in clients/ui/frontend
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/XXL, Area/UI

#540 Fixing slog.Logger.Error arg err should be a string or a slog.Attr (possible missing key or value)
  clients/ui/bff/internal/mocks/k8s_mock.go
Labels: approved, size/S, lgtm, Area/UI

#524 Add NotificationContext and useNotification hook
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/components/Notification.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistry.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/application.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersionArchive.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersions.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/registeredModelArchive.cy.ts
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/context/NotificationContext.tsx
  clients/ui/frontend/src/app/hooks/useNotification.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ArchiveModelVersionModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ArchiveRegisteredModelModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/RestoreModelVersionModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/RestoreRegisteredModel.tsx
  clients/ui/frontend/src/app/types.ts
  clients/ui/frontend/src/components/ToastNotification.tsx
  clients/ui/frontend/src/components/ToastNotifications.tsx
  clients/ui/frontend/src/index.tsx
Labels: approved, lgtm, size/XL, Area/UI

#544 chore: align manifest for 0.2.10
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#546 py: non-regression of user-feedback flow
  clients/python/Makefile
  clients/python/noxfile.py
  clients/python/tests/test_client.py
Labels: approved, lgtm, size/M, Area/MR Python client

#558 feat(bff): load x-forwarded-access-token in cluster setup
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/frontend/src/shared/api/apiUtils.ts
Labels: approved, lgtm, size/M, Area/UI

#562 build(deps): bump eslint-plugin-react-hooks from 4.6.2 to 5.0.0 in /clients/ui/frontend
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, size/S, lgtm, Area/UI

#559 Enhance builds and push
  clients/ui/.env
  clients/ui/.gitignore
  clients/ui/Makefile
  clients/ui/README.md
  clients/ui/manifests/base/kustomization.yaml
  clients/ui/scripts/deploy_kind_cluster.sh
Labels: approved, lgtm, size/L, Area/UI

#560 Add BFF dev mode for local K8s testing
  clients/ui/bff/Makefile
  clients/ui/bff/cmd/main.go
  clients/ui/bff/docs/dev-guide.md
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/config/environment.go
Labels: approved, lgtm, size/M, Area/UI

#573 Improves 'make help' documentation
  clients/ui/bff/Makefile
Labels: approved, size/S, lgtm, Area/UI

#575 Limit use of mockBFFResponse in mock tests
  clients/ui/frontend/src/__mocks__/mockBFFResponse.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelRegistry.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistrySettings/modelRegistrySettings.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersionArchive.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersionDetails.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersions.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/registeredModelArchive.cy.ts
Labels: approved, lgtm, size/L, Area/UI

#578 Fix UI and BFF image tags for our make deployment script
  clients/ui/.env
Labels: size/XS, approved, lgtm, Area/UI

#579 Add lucferbux and Griffin-Sullivan as approvers in the UI
  clients/ui/OWNERS
Labels: size/XS, approved, lgtm, Area/UI

#564 Add enum and env var to conditionally render MUI theme
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelPropertiesTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/PrefilledModelRegistryField.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModel.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisteredModelSelector.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelsTableToolbar.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelsArchiveListView.tsx
  clients/ui/frontend/src/shared/components/DashboardSearchField.tsx
  clients/ui/frontend/src/shared/components/EditableTextDescriptionListGroup.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
  clients/ui/frontend/src/shared/utilities/const.ts
Labels: approved, lgtm, size/XL, Area/UI

#563 py: client: add logging
  clients/python/src/model_registry/_client.py
Labels: approved, lgtm, size/M, Area/MR Python client

#574 feat(inferenceservice): added integration tests to inferenceservice reconcile function
  Makefile
  go.mod
  go.sum
  pkg/inferenceservice-controller/controller.go
  pkg/inferenceservice-controller/controller_test.go
  pkg/inferenceservice-controller/suite_test.go
  pkg/inferenceservice-controller/testdata/crd/.gitignore
  pkg/inferenceservice-controller/testdata/deploy/model-registry-svc.yaml
  pkg/inferenceservice-controller/testdata/inferenceservices/inference-service-correct.yaml
Labels: approved, lgtm, size/L, Area/Go REST server

#597 Upgrade nginx proxy http version
  clients/ui/frontend/nginx.conf
Labels: size/XS, approved, lgtm, Area/UI
