Repository kubeflow/model-registry, pull requests merged in 2024-05, with the labels that each got.

#74 Handle REST status codes
  internal/server/openapi/api_model_registry_service_service.go
  pkg/api/error.go
  pkg/core/core.go
  pkg/core/core_test.go
Labels: approved, lgtm, size/L

#78 fix dependabot spec for python client
  .github/dependabot.yml
Labels: size/XS, approved, lgtm

#91 GHA: test python client connection
  .github/workflows/build-image-pr.yml
  test/python/test_mlmetadata.py
  test/python/test_mr_conn.py
Labels: approved, lgtm, size/L

#96 chore: use ubi8/ubi-minimal:latest for security updates
  Dockerfile
  Dockerfile.odh
Labels: size/XS, approved, lgtm

#93 Handle errors gracefully on routes
  internal/apiutils/api_utils.go
  internal/server/openapi/api_model_registry_service_service.go
  pkg/api/error.go
Labels: approved, lgtm, size/L

#100 Signed-off-by: tonyxrmdavidson <tonyxrmdavidson@yahoo.co.uk>
  csi/Dockerfile
Labels: size/XS, approved, lgtm

#101 fix istio VirtualService manifest
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/base/model-registry-service.yaml
  manifests/kustomize/options/istio/virtual-service.yaml
  manifests/kustomize/overlays/db/kustomization.yaml
  manifests/kustomize/overlays/db/patches/model-registry-deployment.yaml
  manifests/kustomize/overlays/postgres/kustomization.yaml
  manifests/kustomize/overlays/postgres/patches/model-registry-deployment.yaml
Labels: approved, lgtm, size/M

#114 feat: Initial commit for UI #108
  clients/ui/bff/.gitignore
  clients/ui/bff/Dockerfile
  clients/ui/bff/Makefile
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/bff/api/errors.go
  clients/ui/bff/api/healthcheck__handler_test.go
  clients/ui/bff/api/healthcheck_handler.go
  clients/ui/bff/api/helpers.go
  clients/ui/bff/api/middleware.go
  clients/ui/bff/cmd/main.go
  clients/ui/bff/config/environment.go
  clients/ui/bff/data/health_check_model.go
  clients/ui/bff/data/models.go
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/frontend/.gitkeep
Labels: approved, lgtm, size/XL
