Repository kubeflow/model-registry, pull requests merged in 2024-07, with the labels that each got.

#167 py(chore): bump to next version
  clients/python/pyproject.toml
Labels: size/XS, approved, lgtm

#168 docs: prereq to verify pwd in correct directory
  manifests/kustomize/README.md
Labels: size/XS, approved, lgtm

#174 Improve grammar in documentation
  docs/logical_model.md
Labels: size/XS, approved, lgtm

#179 chore(py): align ver in init to project toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm

#182 openapi: wrong ref to delete, list GET and PATCH
  api/openapi/model-registry.yaml
Labels: approved, size/S, lgtm

#188 Py: Update README.md and fix ruff pin
  clients/python/README.md
  clients/python/poetry.lock
  clients/python/pyproject.toml
Labels: approved, size/S, lgtm

#192 chore: remove some unused deprecated libraries (react-axe and react-docgen-typescript-loader)
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/index.tsx
Labels: approved, lgtm, size/XXL

#191 Bump grpc to 1.65.0
  cmd/proxy.go
  go.mod
  go.sum
  internal/testutils/test_container_utils.go
Labels: approved, lgtm, size/M

#193 chore: move owners in the correct place
  clients/ui/OWNERS
Labels: size/XS, approved, lgtm

#190 feat: BFF is able to run (mocked) without Kubernetes
  clients/ui/bff/Makefile
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/bff/api/model_registry_handler_test.go
  clients/ui/bff/cmd/main.go
  clients/ui/bff/config/environment.go
  clients/ui/bff/data/model_registry_test.go
  clients/ui/bff/internals/mocks/k8s_mock.go
Labels: approved, lgtm, size/L

#197 Py: get rid of autogen OAI client docs
  api/openapi/model-registry.yaml
  clients/python/Makefile
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
  clients/python/src/mr_openapi/docs/Artifact.md
  clients/python/src/mr_openapi/docs/ArtifactList.md
  clients/python/src/mr_openapi/docs/ArtifactState.md
  clients/python/src/mr_openapi/docs/BaseArtifact.md
  clients/python/src/mr_openapi/docs/BaseArtifactCreate.md
  clients/python/src/mr_openapi/docs/BaseArtifactUpdate.md
  clients/python/src/mr_openapi/docs/BaseExecution.md
  clients/python/src/mr_openapi/docs/BaseExecutionCreate.md
  clients/python/src/mr_openapi/docs/BaseExecutionUpdate.md
  clients/python/src/mr_openapi/docs/BaseResource.md
  clients/python/src/mr_openapi/docs/BaseResourceCreate.md
  clients/python/src/mr_openapi/docs/BaseResourceList.md
  clients/python/src/mr_openapi/docs/BaseResourceUpdate.md
  clients/python/src/mr_openapi/docs/DocArtifact.md
  clients/python/src/mr_openapi/docs/Error.md
  clients/python/src/mr_openapi/docs/ExecutionState.md
  clients/python/src/mr_openapi/docs/InferenceService.md
  clients/python/src/mr_openapi/docs/InferenceServiceCreate.md
  clients/python/src/mr_openapi/docs/InferenceServiceList.md
  clients/python/src/mr_openapi/docs/InferenceServiceState.md
  clients/python/src/mr_openapi/docs/InferenceServiceUpdate.md
  clients/python/src/mr_openapi/docs/MetadataBoolValue.md
  clients/python/src/mr_openapi/docs/MetadataDoubleValue.md
  clients/python/src/mr_openapi/docs/MetadataIntValue.md
  clients/python/src/mr_openapi/docs/MetadataProtoValue.md
  clients/python/src/mr_openapi/docs/MetadataStringValue.md
  clients/python/src/mr_openapi/docs/MetadataStructValue.md
  clients/python/src/mr_openapi/docs/MetadataValue.md
  clients/python/src/mr_openapi/docs/ModelArtifact.md
  clients/python/src/mr_openapi/docs/ModelArtifactCreate.md
  clients/python/src/mr_openapi/docs/ModelArtifactList.md
  clients/python/src/mr_openapi/docs/ModelArtifactUpdate.md
  clients/python/src/mr_openapi/docs/ModelRegistryServiceApi.md
  clients/python/src/mr_openapi/docs/ModelVersion.md
  clients/python/src/mr_openapi/docs/ModelVersionCreate.md
  clients/python/src/mr_openapi/docs/ModelVersionList.md
  clients/python/src/mr_openapi/docs/ModelVersionState.md
  clients/python/src/mr_openapi/docs/ModelVersionUpdate.md
  clients/python/src/mr_openapi/docs/OrderByField.md
  clients/python/src/mr_openapi/docs/RegisteredModel.md
  clients/python/src/mr_openapi/docs/RegisteredModelCreate.md
  clients/python/src/mr_openapi/docs/RegisteredModelList.md
  clients/python/src/mr_openapi/docs/RegisteredModelState.md
  clients/python/src/mr_openapi/docs/RegisteredModelUpdate.md
  clients/python/src/mr_openapi/docs/ServeModel.md
  clients/python/src/mr_openapi/docs/ServeModelCreate.md
  clients/python/src/mr_openapi/docs/ServeModelList.md
  clients/python/src/mr_openapi/docs/ServeModelUpdate.md
  clients/python/src/mr_openapi/docs/ServingEnvironment.md
  clients/python/src/mr_openapi/docs/ServingEnvironmentCreate.md
  clients/python/src/mr_openapi/docs/ServingEnvironmentList.md
  clients/python/src/mr_openapi/docs/ServingEnvironmentUpdate.md
  clients/python/src/mr_openapi/docs/SortOrder.md
Labels: approved, lgtm, size/XXL

#178 Py: Extend high-level API with paging
  clients/python/README.md
  clients/python/docs/reference.md
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/core.py
  clients/python/src/model_registry/types/__init__.py
  clients/python/src/model_registry/types/options.py
  clients/python/src/model_registry/types/pager.py
  clients/python/tests/test_client.py
  clients/python/tests/test_core.py
Labels: approved, lgtm, size/XL

#198 py(chore): bump to next version
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm

#205 chore: adding bff and frontend to dependabot weekly checks
  .github/dependabot.yml
Labels: size/XS, approved, lgtm

#218 chore: onboard CSI on dependabot
  .github/dependabot.yml
Labels: size/XS, approved, lgtm

#219 test: show s3_uri_from format in pure REST test
  test/robot/MRkeywords.resource
  test/robot/ModelRegistry.py
  test/robot/UserStory.robot
Labels: approved, lgtm, size/M
