Repository kubeflow/model-registry, pull requests merged in 2024-04, with the labels that each got.

#53 demo storing label as custom property with empty string value
  test/robot/UserStory.robot
Labels: approved, size/S, lgtm

#52 More controlled environment in the build
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  docker-compose-local.yaml
  docker-compose.yaml
  scripts/install_protoc.sh
Labels: approved, lgtm, size/L

#65 Py: Fix misleading errors on missing list results
  clients/python/src/model_registry/core.py
  clients/python/src/model_registry/store/wrapper.py
  clients/python/tests/store/test_wrapper.py
Labels: approved, lgtm, size/M

#61 fix: OpenAPI ModelVersion shall contain registeredModelId property
  api/openapi/model-registry.yaml
  internal/converter/generated/mlmd_openapi_converter.gen.go
  internal/converter/generated/openapi_converter.gen.go
  internal/converter/mlmd_converter_util_test.go
  internal/converter/mlmd_openapi_converter.go
  internal/converter/mlmd_openapi_converter_util.go
  internal/converter/openapi_converter.go
  internal/server/openapi/type_asserts.go
  pkg/core/core_test.go
  pkg/openapi/model_model_version.go
  pkg/openapi/model_model_version_create.go
  test/robot/UserStory.robot
Labels: approved, lgtm, size/L

#71 alpha release: py: bump pyproject.toml
  clients/python/pyproject.toml
Labels: size/XS, approved, lgtm

#72 alpha release: py: bump pyproject.toml to next
  clients/python/pyproject.toml
Labels: size/XS, approved, lgtm

#70 add `owner` to `RegisteredModel` logical model
  api/openapi/model-registry.yaml
  clients/python/src/model_registry/types/contexts.py
  clients/python/tests/conftest.py
  clients/python/tests/types/test_context_mapping.py
  docs/logical_model.md
  internal/converter/generated/mlmd_openapi_converter.gen.go
  internal/converter/generated/openapi_converter.gen.go
  internal/converter/mlmd_converter_util_test.go
  internal/converter/mlmd_openapi_converter.go
  internal/converter/mlmd_openapi_converter_util.go
  internal/converter/openapi_converter.go
  internal/converter/openapi_mlmd_converter_util.go
  internal/mlmdtypes/mlmdtypes.go
  internal/testutils/test_container_utils.go
  pkg/core/core_test.go
  pkg/openapi/model_registered_model.go
  pkg/openapi/model_registered_model_create.go
  pkg/openapi/model_registered_model_update.go
  test/robot/UserStory.robot
Labels: approved, lgtm, size/L

#69 Follow KF manifests guidelines
  manifests/kustomize/OWNERS
  manifests/kustomize/README.md
Labels: approved, lgtm, size/M
