Repository kubeflow/model-registry, pull requests merged in 2024-10, with the labels that each got.

#432 Apply MUI theming to Registered Model List View
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryRoutes.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTable.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelTable.tsx
  clients/ui/frontend/src/index.html
  clients/ui/frontend/src/index.tsx
  clients/ui/frontend/src/style/MUI-theme.scss
Labels: approved, lgtm, size/XXL, Area/UI, ok-to-test

#430 version bump for eslint-config-prettier
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, size/S, lgtm, Area/UI

#433 Add golangci-lint for BFF linting
  .github/workflows/ui-bff-build.yml
  clients/ui/bff/Makefile
  clients/ui/bff/docs/contributing.md
  clients/ui/bff/internal/api/errors.go
  clients/ui/bff/internal/data/model_version_test.go
  clients/ui/bff/internal/data/registered_model_test.go
Labels: approved, lgtm, size/M, Area/GitHub, Area/UI

#445 Fix linting and accessibility issues
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelTable.tsx
  clients/ui/frontend/src/index.tsx
Labels: approved, size/S, lgtm, Area/UI

#448 build(deps-dev): bump cypress from 13.14.2 to 13.15.0 and /react-icons from 6.0.0-alpha.37 to 6.0.0-prerelease.6 in /clients/ui/frontend
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/M, Area/UI

#450 Cleans up some unused function params in BFF
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/data/model_version_test.go
  clients/ui/bff/internal/data/registered_model_test.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
Labels: approved, lgtm, size/M, Area/UI

#452 chore: align manifest image
  manifests/kustomize/base/kustomization.yaml
Labels: approved, size/S, lgtm, Area/Manifests

#453 chore: bump py versions
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#467 Add archived model to mocks
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
Labels: approved, size/S, lgtm, Area/UI

#446 Add GitHub Action for building and pushing UI and BFF images
  .github/workflows/build-and-push-ui-images.yml
  Makefile
  clients/ui/manifests/base/kustomization.yaml
Labels: approved, lgtm, size/M, Area/GitHub, Area/UI

#466 Fix UI Bugs for Labels
  clients/ui/frontend/src/style/MUI-theme.scss
Labels: approved, lgtm, Area/UI

#451 Apply MUI theming to Register Model Form
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/PrefilledModelRegistryField.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModel.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterVersion.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisteredModelSelector.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/FormFieldset.tsx
  clients/ui/frontend/src/style/MUI-theme.scss
Labels: approved, lgtm, size/XL, Area/UI

#470 Add mocked properties to models and versions
  clients/ui/bff/internal/mocks/static_data_mock.go
Labels: approved, size/S, lgtm, Area/UI

#447 use deployed MR for python e2e tests
  .github/workflows/build-image-pr.yml
  .github/workflows/python-tests.yml
  clients/python/Makefile
  clients/python/noxfile.py
  clients/python/poetry.lock
  clients/python/tests/conftest.py
  clients/python/tests/regression_test.py
  clients/python/tests/test_client.py
  scripts/cleanup.sh
  scripts/deploy_on_kind.sh
Labels: approved, lgtm, size/L, Area/MR Python client, Area/GitHub

#483 chore(frontend): Version bumps
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/app/components/design/utils.ts
Labels: approved, lgtm, size/L, Area/UI

#482 feat(bff): Use ctrl.NewManager from the controller-runtime as Kubernetes client
  clients/ui/bff/cmd/main.go
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/healthcheck__handler_test.go
  clients/ui/bff/internal/api/healthcheck_handler.go
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/api/registered_models_handler.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/data/health_check_model.go
  clients/ui/bff/internal/data/model_registry.go
  clients/ui/bff/internal/data/models.go
  clients/ui/bff/internal/helpers/k8s.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/integrations/k8s_test.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/models/health_check.go
  clients/ui/bff/internal/models/model_registry.go
  clients/ui/bff/internal/repositories/health_check.go
  clients/ui/bff/internal/repositories/helpers.go
  clients/ui/bff/internal/repositories/model_registry.go
  clients/ui/bff/internal/repositories/model_registry_client.go
  clients/ui/bff/internal/repositories/model_registry_test.go
  clients/ui/bff/internal/repositories/model_version.go
  clients/ui/bff/internal/repositories/model_version_test.go
  clients/ui/bff/internal/repositories/registered_model.go
  clients/ui/bff/internal/repositories/registered_model_test.go
  clients/ui/bff/internal/repositories/repositories.go
Labels: approved, lgtm, size/XL, Area/UI

#485 fix(gha): prevent race condition on port-forward
  .github/workflows/python-tests.yml
  scripts/deploy_on_kind.sh
  scripts/utils.sh
Labels: approved, lgtm, size/M, Area/GitHub

#486 Add displayName and description to GetServiceDetails
  clients/ui/bff/internal/integrations/k8s.go
Labels: approved, size/S, lgtm, Area/UI

#488 chore: align manifest for 0.2.9 alpha
  manifests/kustomize/base/kustomization.yaml
Labels: size/S, Area/Manifests

#487 docs: update readme link
  README.md
Labels: size/XS, approved, lgtm

#489 chore: version bump and add alpha version policy in readme
  README.md
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#491 feat(csi): add CSI manifests
  csi/GET_STARTED.md
  manifests/kustomize/options/csi/clusterstoragecontainer.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: approved, lgtm, size/M, Area/CSI, Area/Manifests

#506 chore: format kustomization file
  manifests/kustomize/base/kustomization.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#508 feat(csi): support multiple model registries
  csi/README.md
  csi/main.go
  csi/pkg/constants/constants.go
  csi/pkg/modelregistry/api_client.go
  csi/pkg/storage/modelregistry_provider.go
  csi/scripts/install_modelregistry.sh
  csi/test/e2e_test.sh
  csi/test/setup_test_env.sh
Labels: approved, lgtm, size/XL, Area/GitHub, Area/CSI

#484 Apply PF Breaking Change Best Practices to MUI Theme Stylesheet
  clients/ui/frontend/src/app/components/DashboardModalFooter.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ArchiveModelVersionModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ArchiveRegisteredModelModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/RestoreModelVersionModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/RestoreRegisteredModel.tsx
  clients/ui/frontend/src/style/MUI-theme.scss
Labels: approved, lgtm, size/L, Area/UI

#504 Add golangci-lint timeout to fix CI
  clients/ui/bff/.golangci.yaml
Labels: size/XS, approved, lgtm, Area/UI

#509 docs: typo fix
  csi/README.md
Labels: size/XS, approved, lgtm, Area/CSI

#523 Applies bug fixes to UI screens
  clients/ui/frontend/src/app/components/DashboardSearchField.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionsArchiveTable.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelsArchiveTable.tsx
  clients/ui/frontend/src/style/MUI-theme.scss
Labels: approved, lgtm, size/L, Area/UI
