Repository kubeflow/model-registry, pull requests merged in 2024-02, with the labels that each got.

#5 add Stale GH action
  .github/workflows/stale.yaml
Labels: approved, lgtm, size/M

#16 kubeflow: remove operator test in pr check
  .github/workflows/build-image-pr.yml
Labels: approved, size/S, lgtm

#19 kubeflow: make MLMD type names (and prefix) pluggable
  clients/python/src/model_registry/types/base.py
  cmd/proxy.go
  internal/constants/constants.go
  internal/converter/mlmd_converter_util_test.go
  internal/converter/mlmd_openapi_converter_util.go
  internal/converter/openapi_mlmd_converter_util.go
  internal/defaults/defaults.go
  internal/mapper/mapper.go
  internal/mapper/mapper_test.go
  internal/mlmdtypes/mlmdtypes.go
  pkg/core/core.go
  pkg/core/core_test.go
  test/robot/MRandLogicalModel.robot
Labels: approved, lgtm, size/L
