Repository kubeflow/model-registry, pull requests merged in 2024-06, with the labels that each got.

#119 docs: fix typo in diagrams
  docs/logical_model_image1.png
  docs/logical_model_image2.png
  docs/logical_model_image3.png
Labels: size/XS, approved, lgtm

#115 chore(deps): py bump docker ^7.1.0, requests ^2.32.2
  CONTRIBUTING.md
  clients/python/README.md
  clients/python/poetry.lock
  clients/python/pyproject.toml
Labels: approved, lgtm, size/L

#116 docs(py): document workaround using MR client with newer py versions
  clients/python/README.md
  clients/python/pyproject.toml
Labels: approved, size/S, lgtm

#125 Fix http error codes
  .gitignore
  pkg/api/error.go
  pkg/core/core.go
Labels: size/XS, approved, lgtm

#128 feat: fetch MR endpoint
  clients/ui/bff/Dockerfile
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/bff/api/healthcheck__handler_test.go
  clients/ui/bff/api/helpers.go
  clients/ui/bff/api/model_registry_handler.go
  clients/ui/bff/api/model_registry_handler_test.go
  clients/ui/bff/cmd/main.go
  clients/ui/bff/data/model_registry.go
  clients/ui/bff/data/models.go
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/bff/integrations/constants.go
  clients/ui/bff/integrations/k8s.go
  clients/ui/bff/internals/mocks/k8s_mock.go
Labels: approved, lgtm, size/L

#129 feat: fetch and create registered models
  clients/ui/bff/Dockerfile
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/bff/api/errors.go
  clients/ui/bff/api/middleware.go
  clients/ui/bff/api/model_registry_handler_test.go
  clients/ui/bff/api/registered_models_handler.go
  clients/ui/bff/data/model_registry.go
  clients/ui/bff/data/model_registry_test.go
  clients/ui/bff/data/registered_model.go
  clients/ui/bff/data/registered_model_test.go
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/bff/integrations/http.go
  clients/ui/bff/integrations/k8s.go
  clients/ui/bff/integrations/k8s_test.go
  clients/ui/bff/internals/mocks/http_mock.go
  clients/ui/bff/internals/mocks/k8s_mock.go
  clients/ui/bff/internals/mocks/types_mock.go
  clients/ui/bff/validation/validation.go
  clients/ui/bff/validation/validation_test.go
Labels: approved, lgtm, size/XL

#131 add ederign in OWNERS in clients/ui/bff/OWNERS
  clients/ui/bff/OWNERS
Labels: size/XS, approved, lgtm

#147 py: set author as owner when creating RegisteredModel
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/types/contexts.py
  clients/python/tests/conftest.py
Labels: approved, size/S, lgtm

#150 Dependency Update: bump go from 1.19 to 1.21@latest
  Makefile
  go.mod
Labels: size/XS, approved, lgtm

#153 py(chore): bump to next version
  clients/python/pyproject.toml
Labels: size/XS, approved, lgtm

#151 REST: Fix PATCH method
  Makefile
  internal/converter/generated/mlmd_openapi_converter.gen.go
  internal/converter/generated/openapi_converter.gen.go
  internal/converter/generated/openapi_mlmd_converter.gen.go
  internal/converter/generated/openapi_reconciler.gen.go
  internal/converter/openapi_converter.go
  internal/converter/openapi_converter_util.go
  internal/converter/openapi_reconciler.go
  internal/server/openapi/api_model_registry_service_service.go
  test/robot/MRkeywords.resource
  test/robot/UserStory.robot
Labels: approved, lgtm, size/XXL

#148 feat: client ui frontend scaffolding
  .github/workflows/ui-frontend-build.yml
  .gitignore
  clients/ui/frontend/.gitignore
  clients/ui/frontend/README.md
  clients/ui/frontend/__mocks__/styleMock.js
  clients/ui/frontend/jest.config.js
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/app/AppLayout/AppLayout.tsx
  clients/ui/frontend/src/app/Dashboard/Dashboard.tsx
  clients/ui/frontend/src/app/NotFound/NotFound.tsx
  clients/ui/frontend/src/app/Support/Support.tsx
  clients/ui/frontend/src/app/__snapshots__/app.test.tsx.snap
  clients/ui/frontend/src/app/app.css
  clients/ui/frontend/src/app/app.test.tsx
  clients/ui/frontend/src/app/bgimages/.gitkeep
  clients/ui/frontend/src/app/index.tsx
  clients/ui/frontend/src/app/routes.tsx
  clients/ui/frontend/src/app/utils/useDocumentTitle.ts
  clients/ui/frontend/src/favicon.png
  clients/ui/frontend/src/index.html
  clients/ui/frontend/src/index.tsx
  clients/ui/frontend/src/typings.d.ts
  clients/ui/frontend/stylePaths.js
  clients/ui/frontend/tsconfig.json
  clients/ui/frontend/webpack.common.js
  clients/ui/frontend/webpack.dev.js
  clients/ui/frontend/webpack.prod.js
Labels: approved, lgtm, size/XXL
