Repository kubeflow/model-registry, pull requests merged in 2024-09, with the labels that each got.

#295 restrict captures to prefix when mapping *FromOwned
  clients/python/Makefile
  clients/python/tests/conftest.py
  clients/python/tests/regression_test.py
  clients/python/tests/test_client.py
  internal/converter/mlmd_converter_util_test.go
  internal/converter/mlmd_openapi_converter_util.go
Labels: approved, lgtm, size/M

#346 chore: introduce GH Labeler for PR navigation
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: approved, lgtm, size/M

#341 py: fix access token parsing
  clients/python/src/model_registry/_client.py
  clients/python/tests/conftest.py
  clients/python/tests/regression_test.py
Labels: approved, lgtm, size/M

#342 build(deps): bump github.com/kubeflow/model-registry from 0.2.4-alpha to 0.2.5-alpha in /clients/ui/bff
  clients/ui/bff/data/registered_model_test.go
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/bff/internals/mocks/types_mock.go
  clients/ui/bff/validation/validation.go
  clients/ui/bff/validation/validation_test.go
Labels: approved, size/S, lgtm

#344 py: client: add update method for supported types
  clients/python/README.md
  clients/python/src/model_registry/_client.py
  clients/python/tests/test_client.py
Labels: approved, lgtm, size/M, Area/MR Python client

#349 py: fix paging when missing token
  clients/python/src/model_registry/types/pager.py
  clients/python/tests/regression_test.py
Labels: approved, lgtm, size/M, Area/MR Python client

#345 Add scaffolding for MR view and MR settings
  clients/ui/frontend/Dockerfile
  clients/ui/frontend/config/webpack.common.js
  clients/ui/frontend/config/webpack.dev.js
  clients/ui/frontend/docs/dev-setup.md
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/home.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/application.cy.ts
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/Dashboard/Dashboard.tsx
  clients/ui/frontend/src/app/Settings/Admin.tsx
  clients/ui/frontend/src/app/Support/Support.tsx
  clients/ui/frontend/src/app/bgimages/.gitkeep
  clients/ui/frontend/src/app/components/ApplicationsPage.tsx
  clients/ui/frontend/src/app/components/design/CollapsibleSection.tsx
  clients/ui/frontend/src/app/components/design/DividedGallery.scss
  clients/ui/frontend/src/app/components/design/DividedGallery.tsx
  clients/ui/frontend/src/app/components/design/DividedGalleryItem.tsx
  clients/ui/frontend/src/app/components/design/HeaderIcon.tsx
  clients/ui/frontend/src/app/components/design/InfoGalleryItem.tsx
  clients/ui/frontend/src/app/components/design/ScrolledGallery.tsx
  clients/ui/frontend/src/app/components/design/TitleWithIcon.tsx
  clients/ui/frontend/src/app/components/design/TypeBorderCard.scss
  clients/ui/frontend/src/app/components/design/TypeBorderedCard.tsx
  clients/ui/frontend/src/app/components/design/utils.ts
  clients/ui/frontend/src/app/components/design/vars.scss
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistry.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryRoutes.tsx
  clients/ui/frontend/src/app/pages/notFound/NotFound.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettings.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettingsRoutes.tsx
  clients/ui/frontend/src/favicon.png
  clients/ui/frontend/src/images/UI_icon-Cubes-RGB.svg
  clients/ui/frontend/src/images/empty-state-model-registries.svg
  clients/ui/frontend/src/images/favicon.ico
  clients/ui/frontend/src/images/logo.svg
  clients/ui/frontend/src/index.html
Labels: approved, lgtm, size/XXL

#351 gha: fix typo in labeler config and quote
  .github/labeler.yml
Labels: approved, size/S, lgtm, Area/GitHub

#339 Adds an endpoint to get a registered model by id
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/bff/api/registered_models_handler.go
  clients/ui/bff/data/registered_model.go
  clients/ui/bff/data/registered_model_test.go
Labels: approved, lgtm, size/L, Area/UI

#354 Fixes URL error in the README
  clients/ui/bff/README.md
Labels: approved, size/S, lgtm, Area/UI

#350 UI - Model Registry API spec
  clients/ui/frontend/src/__mocks__/mockRegisteredModel.ts
  clients/ui/frontend/src/__mocks__/utils.ts
  clients/ui/frontend/src/app/api/__tests__/errorUtils.spec.ts
  clients/ui/frontend/src/app/api/__tests__/service.spec.ts
  clients/ui/frontend/src/app/api/apiUtils.ts
  clients/ui/frontend/src/app/api/errorUtils.ts
  clients/ui/frontend/src/app/api/k8s.ts
  clients/ui/frontend/src/app/api/service.ts
  clients/ui/frontend/src/app/components/design/DividedGallery.scss
  clients/ui/frontend/src/app/components/design/DividedGallery.tsx
  clients/ui/frontend/src/app/components/design/DividedGalleryItem.tsx
  clients/ui/frontend/src/app/components/design/TypeBorderCard.scss
  clients/ui/frontend/src/app/components/design/TypeBorderedCard.tsx
  clients/ui/frontend/src/app/const.ts
  clients/ui/frontend/src/app/types.ts
  clients/ui/frontend/src/typeHelpers.ts
  clients/ui/frontend/src/types.ts
  clients/ui/frontend/src/utilities/useFetchState.ts
Labels: approved, lgtm, size/XXL

#352 gha: provide py dist as gh artifact
  .github/workflows/python-tests.yml
Labels: size/XS, approved, lgtm, Area/GitHub

#355 py: fix order by ID
  api/openapi/model-registry.yaml
  clients/python/noxfile.py
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/core.py
  clients/python/src/model_registry/types/pager.py
  clients/python/src/mr_openapi/models/order_by_field.py
  clients/python/tests/test_client.py
  pkg/openapi/model_order_by_field.go
Labels: approved, lgtm, size/L, Area/MR Python client, Area/Go REST server

#371 core: refactor by splitting impl for each model
  pkg/core/artifact.go
  pkg/core/artifact_test.go
  pkg/core/core.go
  pkg/core/core_test.go
  pkg/core/inference_service.go
  pkg/core/inference_service_test.go
  pkg/core/model_version.go
  pkg/core/model_version_test.go
  pkg/core/registered_model.go
  pkg/core/registered_model_test.go
  pkg/core/serve_model.go
  pkg/core/serve_model_test.go
  pkg/core/serving_environment.go
  pkg/core/serving_environment_test.go
Labels: approved, lgtm, size/XXL, Area/Go REST server

#377 Adds ability to serve mocked data for MR API calls via cli flag
  clients/ui/bff/Makefile
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/bff/api/helpers.go
  clients/ui/bff/api/registered_models_handler.go
  clients/ui/bff/api/registered_models_handler_test.go
  clients/ui/bff/cmd/main.go
  clients/ui/bff/config/environment.go
  clients/ui/bff/data/model_registry_client.go
  clients/ui/bff/data/registered_model.go
  clients/ui/bff/data/registered_model_test.go
  clients/ui/bff/internals/mocks/model_registry_client_mock.go
  clients/ui/bff/internals/mocks/static_data_mock.go
Labels: approved, lgtm, size/L, Area/UI

#374 npm update and versions bumps
  clients/ui/frontend/.eslintrc
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/unit/testUtils/hooks.ts
  clients/ui/frontend/src/components/browserStorage/BrowserStorageContext.tsx
Labels: approved, lgtm, size/XXL, Area/UI

#269 fix: make tests work on fedora
  CONTRIBUTING.md
  internal/testutils/test_container_utils.go
Labels: approved, size/S, lgtm, Area/Go REST server

#356 Add manifests dir to define K8s resources for the UI
  clients/ui/bff/Dockerfile
  clients/ui/manifests/base/README.md
  clients/ui/manifests/base/kustomization.yaml
  clients/ui/manifests/base/model-registry-bff-deployment.yaml
  clients/ui/manifests/base/model-registry-bff-role.yaml
  clients/ui/manifests/base/model-registry-bff-service.yaml
  clients/ui/manifests/base/model-registry-ui-deployment.yaml
  clients/ui/manifests/base/model-registry-ui-service.yaml
Labels: approved, lgtm, size/L, Area/UI

#372 keep deprecated method for mount for TestContainers to avoid direct API dep.
  go.mod
  internal/testutils/test_container_utils.go
Labels: approved, size/S, lgtm, Area/Go REST server

#359 doc: migrate User Story from Robot to pytest
  clients/python/tests/test_client.py
  test/robot/UserStory.robot
Labels: approved, lgtm, size/M, Area/MR Python client

#379 Py: rename pager `limit` method to `page_size`
  clients/python/README.md
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/types/base.py
  clients/python/src/model_registry/types/pager.py
  clients/python/tests/test_client.py
  clients/python/tests/test_core.py
Labels: approved, lgtm, size/M, Area/MR Python client

#360 Set up model registry context and apiHooks
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/frontend/config/webpack.dev.js
  clients/ui/frontend/src/__mocks__/mockModelArtifact.ts
  clients/ui/frontend/src/__mocks__/mockModelRegistry.ts
  clients/ui/frontend/src/__mocks__/mockModelRegistryResponse.ts
  clients/ui/frontend/src/__mocks__/mockModelVersion.ts
  clients/ui/frontend/src/__mocks__/mockModelVersionList.ts
  clients/ui/frontend/src/__mocks__/mockRegisteredModelsList.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/appChrome.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/home.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistry.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/registerModelPage.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/application.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/index.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/application.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry.cy.ts
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/api/__tests__/errorUtils.spec.ts
  clients/ui/frontend/src/app/api/__tests__/service.spec.ts
  clients/ui/frontend/src/app/api/apiUtils.ts
  clients/ui/frontend/src/app/api/errorUtils.ts
  clients/ui/frontend/src/app/api/k8s.ts
  clients/ui/frontend/src/app/api/service.ts
  clients/ui/frontend/src/app/api/types.ts
  clients/ui/frontend/src/app/api/useAPIState.ts
  clients/ui/frontend/src/app/components/EmptyStateErrorMessage.tsx
  clients/ui/frontend/src/app/context/ModelRegistryContext.tsx
  clients/ui/frontend/src/app/context/ModelRegistrySelectorContext.tsx
  clients/ui/frontend/src/app/context/useModelRegistryAPIState.tsx
  clients/ui/frontend/src/app/hooks/__tests__/useModelArtifactsByVersionId.spec.ts
  clients/ui/frontend/src/app/hooks/useModelArtifactsByVersionId.ts
  clients/ui/frontend/src/app/hooks/useModelRegistries.ts
  clients/ui/frontend/src/app/hooks/useModelRegistryAPI.ts
  clients/ui/frontend/src/app/hooks/useModelVersionById.ts
  clients/ui/frontend/src/app/hooks/useModelVersionsByRegisteredModel.ts
  clients/ui/frontend/src/app/hooks/useRegisteredModelById.ts
  clients/ui/frontend/src/app/hooks/useRegisteredModels.ts
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryCoreLoader.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryRoutes.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/InvalidModelRegistry.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelRegistry.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelRegistrySelector.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelRegistrySelectorNavigator.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/EmptyModelRegistryState.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/routeUtils.ts
  clients/ui/frontend/src/app/types.ts
  clients/ui/frontend/src/types.ts
  clients/ui/frontend/src/utilities/useFetchState.ts
Labels: approved, lgtm, size/XXL, Area/UI

#381 Update API models to use envelope format consistently
  clients/ui/bff/README.md
  clients/ui/bff/api/errors.go
  clients/ui/bff/api/helpers.go
  clients/ui/bff/api/model_registry_handler.go
  clients/ui/bff/api/model_registry_handler_test.go
  clients/ui/bff/api/registered_models_handler.go
  clients/ui/bff/api/registered_models_handler_test.go
Labels: approved, lgtm, size/L, Area/UI

#382 Adds scaffolding and mock support for PATCH endpoints
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/bff/api/registered_models_handler.go
  clients/ui/bff/api/registered_models_handler_test.go
  clients/ui/bff/data/registered_model.go
  clients/ui/bff/data/registered_model_test.go
  clients/ui/bff/integrations/http.go
  clients/ui/bff/internals/mocks/http_mock.go
  clients/ui/bff/internals/mocks/model_registry_client_mock.go
Labels: approved, lgtm, size/L, Area/UI

#376 enable standalone artifacts
  api/openapi/model-registry.yaml
  clients/python/Makefile
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/core.py
  clients/python/src/mr_openapi/README.md
  clients/python/src/mr_openapi/api/model_registry_service_api.py
  clients/python/src/mr_openapi/models/base_artifact.py
  clients/python/src/mr_openapi/models/base_execution.py
  clients/python/src/mr_openapi/models/base_resource.py
  clients/python/src/mr_openapi/models/doc_artifact.py
  clients/python/src/mr_openapi/models/inference_service.py
  clients/python/src/mr_openapi/models/model_artifact.py
  clients/python/src/mr_openapi/models/model_version.py
  clients/python/src/mr_openapi/models/registered_model.py
  clients/python/src/mr_openapi/models/serve_model.py
  clients/python/src/mr_openapi/models/serving_environment.py
  clients/python/tests/REST_bindings_test.py
  clients/python/tests/regression_test.py
  clients/python/tests/test_core.py
  docs/mr_go_library.md
  internal/server/openapi/api.go
  internal/server/openapi/api_model_registry_service.go
  internal/server/openapi/api_model_registry_service_service.go
  pkg/api/api.go
  pkg/core/artifact.go
  pkg/core/artifact_test.go
  pkg/core/inference_service.go
  pkg/core/inference_service_test.go
  pkg/core/model_version.go
  pkg/core/model_version_test.go
  pkg/core/serve_model.go
  pkg/core/serve_model_test.go
  pkg/openapi/api_model_registry_service.go
  pkg/openapi/model_base_artifact.go
  pkg/openapi/model_base_execution.go
  pkg/openapi/model_base_resource.go
  pkg/openapi/model_doc_artifact.go
  pkg/openapi/model_inference_service.go
  pkg/openapi/model_model_artifact.go
  pkg/openapi/model_model_version.go
  pkg/openapi/model_registered_model.go
  pkg/openapi/model_serve_model.go
  pkg/openapi/model_serving_environment.go
Labels: approved, lgtm, size/XXL, Area/MR Python client, Area/Go REST server, Area/Documentation

#399 Adds support for PATCH requests in live cluster mode
  clients/ui/bff/README.md
  clients/ui/bff/api/model_versions_handler.go
  clients/ui/bff/api/model_versions_handler_test.go
  clients/ui/bff/api/registered_models_handler.go
  clients/ui/bff/api/registered_models_handler_test.go
  clients/ui/bff/integrations/http.go
Labels: approved, lgtm, size/L, Area/UI

#400 docs: update README
  README.md
  docs/Model Registry Testing areas.drawio
  docs/Model Registry Testing areas.png
Labels: approved, lgtm, size/L, Area/Documentation

#322 fix: fix Makefile and Dockerfile for idempotent images and to support multi-arch builds Fixes RHOAIENG-12078
  Dockerfile
  Makefile
  internal/server/openapi/type_asserts.go
  scripts/gen_type_asserts.sh
Labels: approved, lgtm, size/L, Area/Go REST server

#402 Py: update README
  clients/python/README.md
Labels: approved, lgtm, size/M, Area/MR Python client

#403 Fix type assert generation on MacOS
  Dockerfile
  Makefile
  clients/ui/frontend/.gitignore
  scripts/gen_type_asserts.py
  scripts/gen_type_asserts.sh
Labels: approved, lgtm, size/L, Area/UI, Area/Go REST server

#407 chore: py version bump
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#401 Moving all non-public packages to internal
  clients/ui/bff/Dockerfile
  clients/ui/bff/cmd/main.go
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/errors.go
  clients/ui/bff/internal/api/healthcheck__handler_test.go
  clients/ui/bff/internal/api/healthcheck_handler.go
  clients/ui/bff/internal/api/helpers.go
  clients/ui/bff/internal/api/helpers_test.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/api/model_versions_handler_test.go
  clients/ui/bff/internal/api/registered_models_handler.go
  clients/ui/bff/internal/api/registered_models_handler_test.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/data/health_check_model.go
  clients/ui/bff/internal/data/model_registry.go
  clients/ui/bff/internal/data/model_registry_client.go
  clients/ui/bff/internal/data/model_registry_test.go
  clients/ui/bff/internal/data/model_version.go
  clients/ui/bff/internal/data/model_version_test.go
  clients/ui/bff/internal/data/models.go
  clients/ui/bff/internal/data/registered_model.go
  clients/ui/bff/internal/data/registered_model_test.go
  clients/ui/bff/internal/integrations/constants.go
  clients/ui/bff/internal/integrations/http.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/integrations/k8s_test.go
  clients/ui/bff/internal/mocks/http_mock.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
  clients/ui/bff/internal/mocks/static_data_mock.go
  clients/ui/bff/internal/mocks/types_mock.go
  clients/ui/bff/internal/validation/test_helpers.go
  clients/ui/bff/internal/validation/validation.go
  clients/ui/bff/internal/validation/validation_test.go
Labels: approved, lgtm, size/M, Area/UI

#410 feat(docs): add kind - ingress instructions to deploy model registry
  CONTRIBUTING.md
  docs/mr_kind_deploy_ingress.md
Labels: approved, lgtm, size/L, Area/Documentation

#408 Small cleanup on cypress gitignore
  clients/ui/frontend/.gitignore
  clients/ui/frontend/src/__tests__/cypress/.gitignore
Labels: size/XS, approved, lgtm, Area/UI

#422 py: show Kubeflow alpha banner like website
  clients/python/README.md
Labels: size/XS, approved, lgtm, Area/MR Python client

#409 Add views for Model Versions and Model Details
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersions.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/utils/url.ts
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryRoutes.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelPropertiesDescriptionListGroup.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelPropertiesTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersions.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsHeaderActions.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTable.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTableColumns.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTabs.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/const.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/__tests__/utils.spec.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ArchiveModelVersionModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/RestoreModelVersionModal.tsx
  clients/ui/frontend/src/components/DashboardDescriptionListGroup.scss
  clients/ui/frontend/src/components/DashboardDescriptionListGroup.tsx
  clients/ui/frontend/src/components/EditableLabelsDescriptionListGroup.tsx
  clients/ui/frontend/src/components/EditableTextDescriptionListGroup.tsx
  clients/ui/frontend/tsconfig.json
Labels: approved, lgtm, size/XXL, Area/UI

#423 Add Model Registry Settings view
  clients/ui/bff/internal/api/helpers.go
  clients/ui/bff/internal/data/model_registry.go
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistrySettings.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelRegistry.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistrySettings/modelRegistrySettings.cy.ts
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistriesTable.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistriesTableRow.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettings.tsx
  clients/ui/frontend/src/app/pages/settings/columns.ts
Labels: approved, lgtm, size/L, Area/UI

#426 fix(csi): prevent race condition in ci tests step
  csi/test/e2e_test.sh
  csi/test/test_utils.sh
Labels: approved, lgtm, size/M, Area/CSI

#427 temporarly bump on path-to-regexp
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, size/S, lgtm, Area/UI

#431 Add Register Model and Register Model Version form
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__mocks__/mockBFFResponse.ts
  clients/ui/frontend/src/__mocks__/utils.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/app/api/__tests__/service.spec.ts
  clients/ui/frontend/src/app/api/apiUtils.ts
  clients/ui/frontend/src/app/api/service.ts
  clients/ui/frontend/src/app/components/MarkdownView.scss
  clients/ui/frontend/src/app/components/SimpleSelect.scss
  clients/ui/frontend/src/app/components/design/DividedGallery.scss
  clients/ui/frontend/src/app/components/design/InfoGalleryItem.tsx
  clients/ui/frontend/src/app/components/design/ScrolledGallery.tsx
  clients/ui/frontend/src/app/components/design/TypeBorderCard.scss
  clients/ui/frontend/src/app/components/pf-overrides/FormSection.scss
  clients/ui/frontend/src/app/components/pf-overrides/FormSection.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryRoutes.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelRegistry.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/PrefilledModelRegistryField.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModel.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterVersion.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisteredModelSelector.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationFormFooter.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/usePrefillRegisterVersionFields.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/useRegisterModelData.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/useRegistrationCommonState.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/utils.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/utils.ts
  clients/ui/frontend/src/app/types.ts
  clients/ui/frontend/src/app/utils.ts
  clients/ui/frontend/src/types.ts
  clients/ui/frontend/src/utilities/useGenericObjectState.ts
Labels: approved, lgtm, size/XXL, Area/UI

#424 docs: provide an index/toc of the documentation
  README.md
Labels: approved, size/S, lgtm

#434 Fix disabled text color on DescriptionListDescription
  clients/ui/frontend/src/components/DashboardDescriptionListGroup.tsx
Labels: size/XS, approved, lgtm, Area/UI
