Repository kubeflow/model-registry, pull requests merged in 2024-03, with the labels that each got.

#22 OAS: Fix discriminator field definition for Artifact
  .gitignore
  api/openapi/model-registry.yaml
  internal/converter/generated/mlmd_openapi_converter.gen.go
  internal/converter/generated/openapi_converter.gen.go
  internal/server/openapi/type_asserts.go
  patches/type_asserts.patch
  pkg/openapi/model_base_artifact.go
  pkg/openapi/model_doc_artifact.go
  pkg/openapi/model_model_artifact.go
Labels: approved, lgtm, size/L

#28 New(robot): Environment variable TEST_PORT for setting test port
  test/robot/MRkeywords.resource
Labels: approved, size/S, lgtm

#30 fix GHA invocation of docker tag push script
  .github/workflows/build-and-push-image.yml
Labels: size/XS, approved, lgtm

#25 Add first draft of model registry kserve custom storage initializer
  Makefile
  csi/.gitignore
  csi/Dockerfile
  csi/GET_STARTED.md
  csi/Makefile
  csi/README.md
  csi/config/samples/modelregistry.clusterstoragecontainer.yaml
  csi/go.mod
  csi/go.sum
  csi/main.go
  csi/pkg/storage/modelregistry_provider.go
  csi/scripts/install_modelregistry.sh
Labels: good first issue, approved, lgtm, size/XXL

#31 fix: ensure consistency ns(omitted) for istio manifests
  manifests/kustomize/options/istio/kustomization.yaml
  manifests/kustomize/options/istio/virtual-service.yaml
Labels: size/XS, approved, lgtm

#34 fix CVE-2024-21626
  go.mod
  go.sum
Labels: size/XS, approved, lgtm

#36 add testing of KF MR Manifests
  .github/workflows/build-image-pr.yml
Labels: approved, size/S, lgtm

#39 Construct proper S3 URIs on `register_model`
  clients/python/README.md
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/_utils.py
  clients/python/src/model_registry/exceptions.py
  clients/python/src/model_registry/utils.py
  clients/python/tests/test_client.py
  clients/python/tests/test_utils.py
Labels: approved, lgtm, size/L

#49 fix: query param might be empty string value
  internal/apiutils/api_utils.go
  internal/server/openapi/api_model_registry_service_service.go
  pkg/core/core.go
  test/robot/MRkeywords.resource
  test/robot/UserStory.robot
Labels: approved, lgtm, size/M

#45 add specific K8s version when testing with Kind
  .github/workflows/build-image-pr.yml
Labels: size/XS, approved, lgtm

#51 fix wrong indentation in makefile rule recipe
  Makefile
Labels: approved, size/S, lgtm
