Repository kubeflow/model-registry, pull requests merged in 2025-05, with the labels that each got.

#1050 gha: when 'on.pull_request.path' include workflows
  .github/workflows/build-image-ui-pr.yml
  .github/workflows/check-openapi-spec-pr.yaml
  .github/workflows/controller-test.yml
  .github/workflows/csi-test.yml
  .github/workflows/ui-bff-build.yml
  .github/workflows/ui-frontend-build.yml
Labels: size/XS, approved, lgtm, Area/GitHub

#1048 chore: add ADOPTERS.md per KSC/Graduation discussion
  ADOPTERS.md
Labels: size/XS, approved, lgtm

#1028 Migrate robot test validating ability to store owner, to pytest
  clients/python/tests/test_client.py
  test/robot/UserStory.robot
Labels: approved, size/S, lgtm, Area/MR Python client

#1032 add pytest_report_teststatus to print results
  clients/python/tests/conftest.py
Labels: approved, size/S, lgtm, Area/MR Python client

#1057 docs: add RELEASE.md
  RELEASE.md
Labels: approved, lgtm, size/L

#960 feat(controller): added reconciliation of inferenceservice url
  pkg/inferenceservice-controller/controller.go
  pkg/inferenceservice-controller/controller_test.go
  pkg/inferenceservice-controller/suite_test.go
Labels: approved, lgtm, size/XL, Area/GitHub, Area/Go REST server, Area/Manifests

#1033 specify python version range for ray and add importorskip for ray in …
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/tests/test_client.py
Labels: approved, size/S, lgtm, Area/MR Python client

#1068 add company to model registry adopters
  ADOPTERS.md
Labels: size/XS, approved, lgtm

#1069 Adding Red hat as one of the adopters of Kubeflow Model Registry
  ADOPTERS.md
Labels: size/XS, approved, lgtm

#1070 docs: fix typo
  RELEASE.md
Labels: size/XS, approved, lgtm

#1058 docs(py): minor fix for the tutorial
  clients/python/README.md
Labels: size/XS, approved, lgtm, Area/MR Python client

#1073 chore(bff): cleanup as a fup to #918
  clients/ui/bff/internal/api/errors.go
  clients/ui/bff/internal/api/middleware.go
Labels: approved, size/S, lgtm, Area/UI

#1077 chore: Update ADOPTERS.md
  ADOPTERS.md
Labels: size/XS, approved, lgtm

#1053 gha: workflow for comment first-time PR, onboarding
  .github/workflows/first-time-contributor-pr.yml
Labels: approved, size/S, lgtm, Area/GitHub

#1054 doc(py): fix by move this section in the correct place
  clients/python/README.md
Labels: approved, size/S, lgtm, Area/MR Python client

#1056 docs: add Blog about KF 1.10 entry
  README.md
Labels: size/XS, approved, lgtm

#1072 chore(bff): adding vscode/cursor debug capabilities on bff
  clients/ui/bff/.gitignore
  clients/ui/bff/.vscode/launch.json
  clients/ui/bff/.vscode/tasks.json
  clients/ui/bff/Makefile
Labels: approved, lgtm, size/M, Area/UI

#992 Apply Iconography, Descriptions, and Color Palette to Page Sections
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryCoreLoader.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelRegistry.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettings.tsx
Labels: approved, lgtm, size/M, Area/UI

#1087 chore: Update ADOPTERS.md
  ADOPTERS.md
Labels: size/XS, approved, lgtm

#1076 chore(deps): bump Go to 1.24.3 and update k8s/client dependencies
  .github/workflows/ui-bff-build.yml
  clients/ui/Dockerfile
  clients/ui/bff/README.md
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
Labels: approved, lgtm, size/L, Area/GitHub, Area/UI

#1089 chore(frontend): update development dependencies
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/XXL, Area/UI

#1092 py: v0.2.17.post1 designation (no fix/bug/changes)
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#993 Refactor Theme-Dependent MUI Component Instances
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelPropertiesTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/PrefilledModelRegistryField.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModelDetailsFormSection.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisteredModelSelector.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/FormFieldset.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ThemeAwareSearchInput.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistryCreateModal.tsx
  clients/ui/frontend/src/app/pages/settings/components/ThemeAwareFormGroupWrapper.tsx
  clients/ui/frontend/src/shared/components/EditableTextDescriptionListGroup.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/XL, Area/UI

#1086 docs: refresh CONTRIBUTING.md
  CONTRIBUTING.md
Labels: approved, size/S, lgtm

#1093 Add @tiansiyuan
  ADOPTERS.md
Labels: size/XS, approved, lgtm

#1091 OWNERS: add ederign as approvers
  OWNERS
Labels: size/XS, approved, lgtm

#1090 API Simplification - Flatten base types
  api/openapi/model-registry.yaml
  clients/python/src/.openapi-generator/FILES
  clients/python/src/mr_openapi/README.md
  clients/python/src/mr_openapi/__init__.py
  clients/python/src/mr_openapi/models/__init__.py
  clients/python/src/mr_openapi/models/base_artifact.py
  clients/python/src/mr_openapi/models/base_artifact_create.py
  clients/python/src/mr_openapi/models/base_artifact_update.py
  clients/python/src/mr_openapi/models/base_execution.py
  clients/python/src/mr_openapi/models/base_execution_create.py
  clients/python/src/mr_openapi/models/base_execution_update.py
  clients/python/src/mr_openapi/models/doc_artifact.py
  clients/python/src/mr_openapi/models/doc_artifact_create.py
  clients/python/src/mr_openapi/models/doc_artifact_update.py
  clients/python/src/mr_openapi/models/model_artifact.py
  clients/python/src/mr_openapi/models/model_artifact_create.py
  clients/python/src/mr_openapi/models/model_artifact_update.py
  clients/python/src/mr_openapi/models/serve_model.py
  clients/python/src/mr_openapi/models/serve_model_create.py
  clients/python/src/mr_openapi/models/serve_model_update.py
  internal/converter/generated/mlmd_openapi_converter.gen.go
  internal/converter/generated/openapi_converter.gen.go
  internal/converter/generated/openapi_reconciler.gen.go
  internal/server/openapi/.openapi-generator/FILES
  internal/server/openapi/type_asserts.go
  pkg/openapi/.openapi-generator/FILES
  pkg/openapi/model_base_artifact.go
  pkg/openapi/model_base_artifact_create.go
  pkg/openapi/model_base_artifact_update.go
  pkg/openapi/model_base_execution.go
  pkg/openapi/model_base_execution_create.go
  pkg/openapi/model_base_execution_update.go
  pkg/openapi/model_doc_artifact.go
  pkg/openapi/model_doc_artifact_create.go
  pkg/openapi/model_doc_artifact_update.go
  pkg/openapi/model_model_artifact.go
  pkg/openapi/model_model_artifact_create.go
  pkg/openapi/model_model_artifact_update.go
  pkg/openapi/model_serve_model.go
  pkg/openapi/model_serve_model_create.go
  pkg/openapi/model_serve_model_update.go
Labels: approved, lgtm, size/XXL, Area/MR Python client, Area/Go REST server

#1105 Move robot TC to pytest
  clients/python/README.md
  clients/python/tests/test_client.py
  test/robot/UserStory.robot
Labels: approved, lgtm, size/M, Area/MR Python client

#1106 py: change str repr to mitigate confusion
  clients/python/src/model_registry/types/contexts.py
  clients/python/tests/types/test_context.py
Labels: approved, lgtm, size/M, Area/MR Python client

#1112 gha: refresh AppArmor settings for mysql in gha
  .github/workflows/build-image-pr.yml
  .github/workflows/csi-test.yml
  .github/workflows/python-tests.yml
Labels: size/XS, approved, lgtm, Area/GitHub, Area/Manifests

#1109 sorted out kustomize warnings in overlays/db and overlays/postgres
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/overlays/db/kustomization.yaml
  manifests/kustomize/overlays/db/patches/model-registry-deployment.yaml
  manifests/kustomize/overlays/postgres/kustomization.yaml
  manifests/kustomize/overlays/postgres/patches/model-registry-deployment.yaml
Labels: approved, lgtm, size/L, Area/Manifests

#1074 chore(manifests): remove default namespace
  manifests/kustomize/README.md
  manifests/kustomize/options/istio/kustomization.yaml
  manifests/kustomize/overlays/db/kustomization.yaml
  manifests/kustomize/overlays/postgres/kustomization.yaml
  scripts/deploy_on_kind.sh
Labels: approved, lgtm, size/M, Area/Manifests

#1088 chore: move 1st time contrib GHA in Beta mode
  .github/workflows/first-time-contributor-pr.yml
Labels: approved, lgtm, size/M, Area/GitHub

#1110 docs: document ROADMAP.md per current process
  CONTRIBUTING.md
  ROADMAP.md
Labels: approved, size/S, lgtm

#1113 manifests: align mysql image version between #267 and #703
  manifests/kustomize/overlays/db/kustomization.yaml
  manifests/kustomize/overlays/db/model-registry-db-deployment.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#1116 docs: update Pull Request template
  .github/pull_request_template.md
Labels: size/XS, approved, lgtm, Area/GitHub

#1012 chore(openapi): split openapi spec file
  Makefile
  api/openapi/src/lib/common.yaml
  api/openapi/src/model-registry.yaml
  scripts/merge_openapi.sh
Labels: approved, lgtm, size/XXL, Area/Go REST server

#1134 chore: bump MR py client version to v0.2.19
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#1135 gha: test 1st time contributors steps
  .github/workflows/first-time-contributor-pr.yml
Labels: approved, size/S, lgtm, Area/GitHub

#1114 Set up initial async job scaffolding
  jobs/async-upload/.dockerignore
  jobs/async-upload/Dockerfile
  jobs/async-upload/README.md
  jobs/async-upload/job/__init__.py
  jobs/async-upload/job/entrypoint.py
  jobs/async-upload/job/healthcheck.py
  jobs/async-upload/pyproject.toml
  jobs/async-upload/requirements.txt
Labels: approved, lgtm, size/L

#1137 manifests: align default to #1113
  manifests/kustomize/overlays/db/model-registry-db-deployment.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#1107 feat: create the embedmd datastore type
  cmd/proxy.go
  go.mod
  go.sum
  internal/datastore/connector.go
  internal/datastore/embedmd/mysql/connect.go
  internal/datastore/embedmd/mysql/migrate.go
  internal/datastore/embedmd/mysql/migrate_test.go
  internal/datastore/embedmd/mysql/migrations/000001_create_artifact_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000001_create_artifact_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000002_create_artifactproperty_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000002_create_artifactproperty_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000003_create_association_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000003_create_association_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000004_create_attribution_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000004_create_attribution_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000005_create_context_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000005_create_context_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000006_create_contextproperty_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000006_create_contextproperty_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000007_create_event_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000007_create_event_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000008_create_eventpath_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000008_create_eventpath_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000009_create_execution_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000009_create_execution_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000010_create_executionproperty_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000010_create_executionproperty_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000011_create_mlmdenv_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000011_create_mlmdenv_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000012_create_parentcontext_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000012_create_parentcontext_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000013_create_parenttype_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000013_create_parenttype_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000014_create_type_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000014_create_type_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000015_create_typeproperty_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000015_create_typeproperty_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000016_seed_type_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000016_seed_type_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000017_seed_typeproperty_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000017_seed_typeproperty_table.up.sql
  internal/datastore/embedmd/mysql/migrations/000018_seed_mlmdenv_table.down.sql
  internal/datastore/embedmd/mysql/migrations/000018_seed_mlmdenv_table.up.sql
  internal/datastore/embedmd/mysql/testdata/testdb.cnf
  internal/datastore/embedmd/service.go
  internal/datastore/mlmd/service.go
  internal/db/connector.go
  internal/db/migrator.go
Labels: approved, lgtm, size/XL, Area/Go REST server

#1111 refactor: General MR Client Improvements & Hardening
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/_utils.py
  clients/python/src/model_registry/utils.py
  clients/python/tests/conftest.py
  clients/python/tests/test_client.py
  clients/python/tests/test_utils.py
Labels: approved, lgtm, size/L, Area/MR Python client, Area/GitHub

#1142 update clean up code and add --config-dir to create_bucket.yaml to support running T1 d/s
  scripts/cleanup.sh
  scripts/manifests/minio/create_bucket.yaml
Labels: size/XS, approved, lgtm

#1138 fix(insvc): bug in the inferenceservice reconciler deletion
  pkg/inferenceservice-controller/controller.go
  pkg/inferenceservice-controller/controller_test.go
Labels: approved, lgtm, size/M, Area/Go REST server

#1140 fix(ui): Fix Toolbar Alignment in Model Registry UI
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelListView.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/L, Area/UI

#1153 OWNERS: add Al-Pragliola as approvers
  OWNERS
Labels: size/XS, approved, lgtm

#1147 demo: refresh and add new compose file
  docker-compose-mysql.yaml
  docker-compose.yaml
Labels: approved, lgtm, size/M

#1150 docs: refine ADOPTERS.md description
  ADOPTERS.md
Labels: size/XS, approved, lgtm

#1155 ci: GHA build.yml should not ignore scripts changes
  .github/workflows/build.yml
Labels: size/XS, approved, lgtm, Area/GitHub

#1156 docs: add suggestion to add coreutils
  CONTRIBUTING.md
Labels: size/XS, approved, lgtm

#1151 feat(bff): Add group stub (mocked) listing for settings endpoint
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/model_registry_settings_groups_handler.go
  clients/ui/bff/internal/api/model_registry_settings_groups_handler_test.go
  clients/ui/bff/internal/integrations/kubernetes/client.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/internal_k8s_client_mock.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/token_k8s_client_mock.go
  clients/ui/bff/internal/integrations/kubernetes/shared_k8s_client.go
  clients/ui/bff/internal/models/groups.go
  clients/ui/bff/internal/repositories/model_registry_settings.go
  clients/ui/bff/internal/repositories/model_registry_settings_test.go
  clients/ui/bff/internal/repositories/repositories.go
Labels: approved, lgtm, size/L, Area/UI

#1148 feat: auto generate gorm structs
  .github/workflows/check-db-schema-structs.yaml
  Makefile
  README.md
  go.mod
  go.sum
  internal/db/schema/artifact.gen.go
  internal/db/schema/artifactproperty.gen.go
  internal/db/schema/association.gen.go
  internal/db/schema/attribution.gen.go
  internal/db/schema/context.gen.go
  internal/db/schema/contextproperty.gen.go
  internal/db/schema/event.gen.go
  internal/db/schema/eventpath.gen.go
  internal/db/schema/execution.gen.go
  internal/db/schema/executionproperty.gen.go
  internal/db/schema/mlmdenv.gen.go
  internal/db/schema/parentcontext.gen.go
  internal/db/schema/parenttype.gen.go
  internal/db/schema/schema_migrations.gen.go
  internal/db/schema/type.gen.go
  internal/db/schema/typeproperty.gen.go
  scripts/start_mysql_db.sh
  scripts/teardown_mysql_db.sh
Labels: approved, lgtm, size/L, Area/GitHub, Area/Go REST server

#1167 py: add options to cleanup local registry and minio set up for e2e tests
  clients/python/Makefile
  scripts/undeploy_local_registry.sh
  scripts/undeploy_minio.sh
Labels: approved, lgtm, size/M, Area/MR Python client
