Repository kubeflow/model-registry, pull requests merged in 2025-02, with the labels that each got.

#267 Bump mysql container image to one with an aarch64 image
  .github/workflows/build-image-pr.yml
  .github/workflows/csi-test.yml
  .github/workflows/python-tests.yml
  manifests/kustomize/overlays/db/kustomization.yaml
  scripts/deploy_on_kind.sh
Labels: approved, size/S, lgtm, Area/GitHub, Area/Manifests

#703 fix: mysql version fix 8.0.3 -> 8.3.0
  manifests/kustomize/overlays/db/model-registry-db-deployment.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#755 chore: align manifest for 0.2.13
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#757 Fix golang base version
  clients/ui/bff/README.md
Labels: size/XS, approved, lgtm, Area/UI

#756 chore: bump py version to next v0.2.14
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#764 fix(python): client autogen to include verify_ssl param
  clients/python/Makefile
  clients/python/templates/configuration.mustache
Labels: approved, lgtm, size/XL, Area/MR Python client

#769 fix: high cpu load when idle
  cmd/proxy.go
Labels: approved, lgtm, size/M, Area/Go REST server

#772 fix(isvc): switched to the correct annotation in mr svc
  pkg/inferenceservice-controller/controller.go
Labels: size/XS, approved, lgtm, Area/Go REST server

#744 fix(frontend): fixes error screen alignment
  clients/ui/frontend/src/app/App.tsx
Labels: size/XS, approved, lgtm, Area/UI

#743 fix(frontend): fixes URI field alignment
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
Labels: approved, lgtm, size/M, Area/UI

#762 fix(frontend): update path icon alignment, remove Split and revert to TextInputGroup
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/M, Area/UI

#770 fix(frontend): Hide title icon and add divider
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelRegistry.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettings.tsx
  clients/ui/frontend/src/shared/components/ApplicationsPage.tsx
Labels: approved, lgtm, size/M, Area/UI

#787 Fix build issue
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
Labels: size/XS, approved, lgtm, Area/UI

#771 feat(gha): added gha to check if python client autogen code is in sync
  .github/workflows/python-tests.yml
  clients/python/Makefile
  clients/python/src/mr_openapi/__init__.py
  clients/python/src/mr_openapi/api/model_registry_service_api.py
  clients/python/src/mr_openapi/configuration.py
  clients/python/src/mr_openapi/models/__init__.py
Labels: approved, size/L, Area/MR Python client, Area/GitHub

#763 fix(frontend): Remove extra page padding
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, size/S, lgtm, Area/UI

#788 fix(frontend): Fix alignment of "Register" toolbar action
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelsTableToolbar.tsx
Labels: approved, lgtm, size/L, Area/UI

#775 fix(frontend): Update disabled dropdown styling to match with KF
  clients/ui/frontend/src/app/NavBar.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/M, Area/UI

#792 fix(frontend): Fix breadcrumb padding
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: size/XS, approved, lgtm, Area/UI

#768 feat(manifests): add securityContext to deployments
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/options/ui/base/model-registry-ui-deployment.yaml
  manifests/kustomize/overlays/db/model-registry-db-deployment.yaml
  manifests/kustomize/overlays/postgres/kustomization.yaml
  manifests/kustomize/overlays/postgres/model-registry-db-deployment.yaml
  manifests/kustomize/overlays/postgres/patches/model-registry-deployment.yaml
Labels: approved, lgtm, size/M, Area/Manifests

#790 test: E2E pytest for ModelVersion.name length
  clients/python/tests/test_client.py
Labels: approved, size/S, lgtm, Area/MR Python client

#794 Prepare kubeflow manifest for release
  .github/workflows/build-and-push-ui-images.yml
  clients/ui/Makefile
  clients/ui/scripts/deploy_kubeflow_cluster.sh
  manifests/kustomize/README.md
  manifests/kustomize/options/ui/overlays/istio/kustomization.yaml
Labels: approved, lgtm, size/M, Area/GitHub, Area/UI, Area/Manifests

#797 feat(openapi): make items a required field in List requests
  api/openapi/model-registry.yaml
  clients/python/src/mr_openapi/models/artifact_list.py
  clients/python/src/mr_openapi/models/inference_service_list.py
  clients/python/src/mr_openapi/models/model_artifact_list.py
  clients/python/src/mr_openapi/models/model_version_list.py
  clients/python/src/mr_openapi/models/registered_model_list.py
  clients/python/src/mr_openapi/models/serve_model_list.py
  clients/python/src/mr_openapi/models/serving_environment_list.py
  internal/server/openapi/type_asserts.go
  pkg/openapi/model_artifact_list.go
  pkg/openapi/model_inference_service_list.go
  pkg/openapi/model_model_artifact_list.go
  pkg/openapi/model_model_version_list.go
  pkg/openapi/model_registered_model_list.go
  pkg/openapi/model_serve_model_list.go
  pkg/openapi/model_serving_environment_list.go
Labels: approved, lgtm, size/L, Area/MR Python client, Area/Go REST server

#796 docs: clarify python client installation steps
  clients/python/README.md
Labels: approved, size/S, lgtm, Area/MR Python client

#791 fix(frontend): Fix alignment of pagination nav control buttons
  clients/ui/frontend/src/shared/components/table/TableBase.tsx
Labels: size/XS, approved, lgtm, Area/UI

#804 chore: align manifest for 0.2.14
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: approved, size/S, lgtm

#803 docs: Add information about KEPs
  proposals/README.md
Labels: size/XS, approved, lgtm

#805 chore: bump py version to next v0.2.15
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#814 build(deps): bump @typescript-eslint/eslint-plugin from 8.21.0 to 8.24.0 in /clients/ui/frontend
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/L, Area/UI

#759 Improvements to debug logging and CORS handling
  clients/ui/bff/Makefile
  clients/ui/bff/cmd/helpers.go
  clients/ui/bff/cmd/helpers_test.go
  clients/ui/bff/cmd/main.go
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/helpers.go
  clients/ui/bff/internal/api/helpers_test.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/helpers/logging.go
  clients/ui/bff/internal/integrations/http.go
  clients/ui/bff/internal/integrations/http_helpers.go
Labels: approved, lgtm, size/L, Area/UI

#817 Fixes broken CI job
  clients/ui/Dockerfile
  clients/ui/bff/Makefile
Labels: size/XS, approved, lgtm, Area/UI

#816 fix(frontend): fix missing page padding in default PF theme
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: size/XS, approved, lgtm, Area/UI

#819 fix(frontend): fix navbar to apply correct logo and position in default theme
  clients/ui/frontend/src/app/NavBar.tsx
  clients/ui/frontend/src/app/NavSidebar.tsx
Labels: approved, lgtm, size/M, Area/UI

#800 Add save_to_oci_registry python client method
  .github/workflows/python-tests.yml
  clients/python/Makefile
  clients/python/README.md
  clients/python/noxfile.py
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/utils.py
  clients/python/tests/.gitignore
  clients/python/tests/test_utils.py
  scripts/container_registry.yaml
  scripts/deploy_local_kind_registry.sh
  scripts/deploy_on_kind.sh
  scripts/services/container_registry.yaml
Labels: approved, lgtm, size/L, Area/MR Python client, Area/GitHub

#824 Add testing coverage for NavBar
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/appChrome.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/navBar.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/kubeflowStandalone/navBar.cy.ts
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/NavBar.tsx
  clients/ui/frontend/src/shared/context/NamespaceSelectorContext.tsx
  clients/ui/frontend/src/shared/context/__tests__/NamespaceSelectorContext.test.tsx
Labels: approved, lgtm, size/L, Area/UI

#821 change resp status from 500 to 409 for dup POST reqs
  api/openapi/model-registry.yaml
  clients/python/src/mr_openapi/api/model_registry_service_api.py
  pkg/api/error.go
  pkg/core/artifact_test.go
  pkg/core/inference_service_test.go
  pkg/core/model_version_test.go
  pkg/core/registered_model_test.go
  pkg/core/serve_model_test.go
  pkg/core/serving_environment_test.go
  pkg/openapi/api_model_registry_service.go
Labels: approved, lgtm, size/L, Area/MR Python client, Area/Go REST server

#798 update frontend to support module federation
  clients/ui/Makefile
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/docs/README.md
  clients/ui/docs/kubeflow-development-guide.md
  clients/ui/docs/local-deployment-guide-ui.md
  clients/ui/docs/local-deployment-guide.md
  clients/ui/frontend/config/dotenv.js
  clients/ui/frontend/config/moduleFederation.js
  clients/ui/frontend/config/webpack.common.js
  clients/ui/frontend/config/webpack.dev.js
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/bootstrap.tsx
  clients/ui/frontend/src/index.html
  clients/ui/frontend/src/index.ts
  clients/ui/frontend/src/shared/utilities/const.ts
  clients/ui/scripts/deploy_kind_cluster.sh
Labels: approved, lgtm, size/XXL, Area/UI

#831 fix(frontend): Update padding to fix upstream spacing
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, size/S, lgtm, Area/UI

#832 [UI] update path for all cypress interceptApi calls
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
Labels: size/XS, approved, lgtm, Area/UI

#815 Tweak UI to point at MR installation
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelRegistry.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryCoreLoader.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelRegistrySelector.tsx
  clients/ui/frontend/src/shared/components/KubeflowDocs.tsx
Labels: approved, lgtm, size/M, Area/UI

#834 build(deps): bump eslint-import-resolver-typescript from 3.6.3 to 3.8.3 in /clients/ui/frontend
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/M, Area/UI

#765 feat(py): Add support for storing models in S3
  .github/workflows/python-tests.yml
  clients/python/Makefile
  clients/python/noxfile.py
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/utils.py
  clients/python/tests/conftest.py
  clients/python/tests/test_client.py
  clients/python/tests/test_utils.py
  scripts/deploy_minio_on_kind.sh
  scripts/manifests/minio/.gitignore
  scripts/manifests/minio/create_bucket.yaml
  scripts/manifests/minio/deployment.yaml
Labels: approved, lgtm, size/XL, Area/MR Python client, Area/GitHub

#836 process: add Al-Pragliola as top level Reviewer
  OWNERS
Labels: size/XS, approved, lgtm

#835 Update model registry image name convention
  manifests/kustomize/options/ui/base/kustomization.yaml
  manifests/kustomize/options/ui/base/model-registry-ui-deployment.yaml
Labels: size/XS, approved, lgtm, Area/Manifests
