Repository kubeflow/model-registry, pull requests merged in 2025-06, with the labels that each got.

#1168 Add initial async job configuration validation
  jobs/async-upload/Makefile
  jobs/async-upload/job/config.py
  jobs/async-upload/job/entrypoint.py
  jobs/async-upload/poetry.lock
  jobs/async-upload/pyproject.toml
  jobs/async-upload/requirements.txt
  jobs/async-upload/tests/__init__.py
  jobs/async-upload/tests/test_config.py
Labels: approved, lgtm, size/XL

#1196 Revert broken image url
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#1197 py: bump MR py client version to 0.2.20
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#1203 Bump mod-arch-shared library version
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, size/S, lgtm, Area/UI

#1208 [Async-Job] Validate MR connection params when job starts
  jobs/async-upload/Makefile
  jobs/async-upload/job/config.py
  jobs/async-upload/job/mr_client.py
  jobs/async-upload/poetry.lock
  jobs/async-upload/pyproject.toml
  jobs/async-upload/tests/test_mr_client.py
Labels: approved, lgtm, size/XXL

#1218 Add rolebinding PATCH for bff
  clients/ui/api/openapi/mod-arch.yaml
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/model_registry_settings_rbac_handler.go
  clients/ui/bff/internal/api/model_registry_settings_rbac_handler_test.go
Labels: approved, lgtm, size/L, Area/UI

#1243 add troubleshooting for schema migration error
  internal/proxy/readiness.go
  manifests/kustomize/README.md
Labels: approved, size/S, lgtm, Area/Go REST server, Area/Manifests

#1222 feat: Add SSL/TLS Support for EmbedMD
  cmd/proxy.go
  go.mod
  internal/core/test_utils.go
  internal/datastore/embedmd/mysql/connect.go
  internal/datastore/embedmd/mysql/connect_test.go
  internal/datastore/embedmd/mysql/migrate_test.go
  internal/datastore/embedmd/service.go
  internal/db/connector.go
  internal/db/service/registered_model_test.go
  internal/proxy/readiness.go
  internal/proxy/readiness_test.go
  internal/tls/config.go
  internal/tls/config_test.go
Labels: approved, lgtm, size/XXL, Area/MR Python client, Area/Go REST server, Area/Manifests

#1245 add ALERT to ds connection err
  cmd/proxy.go
Labels: size/XS, approved, lgtm, Area/Go REST server

#1246 feat: reintroduce retries when connecting to the db
  internal/datastore/embedmd/mysql/connect.go
Labels: approved, size/S, lgtm, Area/Go REST server

#1244 fix: stateless tests
  internal/core/artifact.go
  internal/core/artifact_test.go
  internal/core/inference_service.go
  internal/core/inference_service_test.go
  internal/core/model_version.go
  internal/core/model_version_test.go
  internal/core/registered_model.go
  internal/core/registered_model_test.go
  internal/core/serve_model.go
  internal/core/serve_model_test.go
  internal/core/serving_environment.go
  internal/core/serving_environment_test.go
  internal/datastore/embedmd/mysql/connect.go
  internal/db/scopes/paginate.go
  internal/db/service/artifact.go
  internal/db/service/doc_artifact.go
  internal/db/service/inference_service.go
  internal/db/service/model_artifact.go
  internal/db/service/model_version.go
  internal/db/service/registered_model.go
  internal/db/service/serve_model.go
  internal/db/service/serving_environment.go
  pkg/api/error.go
Labels: approved, lgtm, size/L, Area/Go REST server

#1253 fix(manifests): add fsGroup to database deployments
  manifests/kustomize/overlays/db/model-registry-db-deployment.yaml
  manifests/kustomize/overlays/postgres/model-registry-db-deployment.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#1254 chore: align manifest for 0.2.20
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: approved, size/S, lgtm, Area/Manifests
