Repository kubeflow/model-registry, pull requests merged in 2025-09, with the labels that each got.

#1537 feat(compose): add database profile support with MySQL and PostgreSQL
  Makefile
  README.md
  docker-compose-local.yaml
  docker-compose.yaml
Labels: approved, lgtm, size/L

#1540 feat(csi): improve CSI logging
  internal/apiutils/api_utils.go
  internal/csi/storage/modelregistry_provider.go
  test/csi/e2e_test.sh
Labels: approved, lgtm, size/M, Area/Go REST server

#1542 ci: add 'latest' and 'main' tags to async-upload image
  .github/workflows/build-and-push-async-upload.yml
Labels: approved, size/S, lgtm, Area/GitHub

#1541 ci: add Trivy scan results to Security tab
  .github/workflows/trivy-image-scanning.yaml
Labels: approved, lgtm, size/M, Area/GitHub

#1546 Recreate package-lock.json
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/XXL, Area/UI

#1551 ci: add permissions block to trivy-image-scaning workflow
  .github/workflows/trivy-image-scanning.yaml
Labels: approved, lgtm, Area/GitHub

#1545 [Async Upload] Add initial intent options for more usecases
  jobs/async-upload/README.md
  jobs/async-upload/job/config.py
  jobs/async-upload/job/models.py
  jobs/async-upload/samples/sample_job_s3_to_oci.yaml
  jobs/async-upload/tests/integration/test_integration_async_upload.py
  jobs/async-upload/tests/test_config.py
  jobs/async-upload/tests/test_download.py
  jobs/async-upload/tests/test_models.py
  jobs/async-upload/tests/test_mr_client.py
  jobs/async-upload/tests/test_upload.py
Labels: approved, lgtm, size/L, Area/Jobs/Async-upload

#1553 feat(client): add K8s SA token fallback for user authn
  clients/python/src/model_registry/_client.py
  clients/python/tests/test_client.py
Labels: approved, lgtm, size/L, Area/MR Python client

#1555 Unescape catalog model names / publish catalog openapi client
  Dockerfile
  catalog/internal/server/openapi/api_model_catalog_service_service.go
  catalog/internal/server/openapi/api_model_catalog_service_service_test.go
  catalog/pkg/openapi/go.mod
  cmd/csi/Dockerfile.csi
  go.mod
  go.work
Labels: approved, lgtm, size/M, Area/Go REST server, Area/Model Catalog

#1575 ci: refactor tag latest,main push using action
  .github/workflows/build-and-push-async-upload.yml
Labels: approved, size/S, lgtm, Area/GitHub

#1576 feat(bff): implement model catalog client and API handler on BFF. It also enhance Kubeflow configuration to allow communication between BFF and MC.
  clients/ui/bff/Makefile
  clients/ui/bff/README.md
  clients/ui/bff/cmd/main.go
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/bff/go.work
  clients/ui/bff/go.work.sum
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/app_test.go
  clients/ui/bff/internal/api/artifacts_handler.go
  clients/ui/bff/internal/api/catalog_model_artifacts_handler.go
  clients/ui/bff/internal/api/catalog_models_handler.go
  clients/ui/bff/internal/api/catalog_models_handler_test.go
  clients/ui/bff/internal/api/catalog_souces_handler.go
  clients/ui/bff/internal/api/catalog_sources_handler.go
  clients/ui/bff/internal/api/catalog_sources_handler_test.go
  clients/ui/bff/internal/api/errors.go
  clients/ui/bff/internal/api/healthcheck__handler_test.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_artifacts_handler.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_registry_settings_groups_handler_test.go
  clients/ui/bff/internal/api/model_registry_settings_rbac_handler_test.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/api/namespaces_handler_test.go
  clients/ui/bff/internal/api/registered_models_handler.go
  clients/ui/bff/internal/api/suite_test.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/api/user_handler_test.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/constants/keys.go
  clients/ui/bff/internal/integrations/httpclient/constants.go
  clients/ui/bff/internal/integrations/httpclient/http.go
  clients/ui/bff/internal/integrations/httpclient/http_test.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/base_testenv.go
  clients/ui/bff/internal/mocks/model_catalog_client_mock.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
  clients/ui/bff/internal/mocks/static_data_mock.go
  clients/ui/bff/internal/models/model_catalog.go
  clients/ui/bff/internal/repositories/artifacts.go
  clients/ui/bff/internal/repositories/catalog_models.go
  clients/ui/bff/internal/repositories/catalog_sources.go
  clients/ui/bff/internal/repositories/helpers.go
  clients/ui/bff/internal/repositories/model_artifacts.go
  clients/ui/bff/internal/repositories/model_catalog.go
  clients/ui/bff/internal/repositories/model_catalog_client.go
  clients/ui/bff/internal/repositories/model_version.go
  clients/ui/bff/internal/repositories/registered_model.go
  clients/ui/bff/internal/repositories/repositories.go
  manifests/kustomize/options/catalog/README.md
  manifests/kustomize/options/catalog/base/deployment.yaml
  manifests/kustomize/options/catalog/base/hf-sources-example.yaml
  manifests/kustomize/options/catalog/base/kustomization.yaml
  manifests/kustomize/options/catalog/base/sample-catalog.yaml
  manifests/kustomize/options/catalog/base/service.yaml
  manifests/kustomize/options/catalog/base/sources.yaml
  manifests/kustomize/options/catalog/overlay/destination-rule.yaml
  manifests/kustomize/options/catalog/overlay/kustomization.yaml
  manifests/kustomize/options/catalog/overlay/virtual-service.yaml
Labels: approved, lgtm, size/XXL, Area/UI, Area/Manifests, Area/Model Catalog

#1581 fix(catalog): remove the duplicated model-catalog prefix from the service name
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/base_testenv.go
  clients/ui/bff/internal/repositories/model_catalog.go
  manifests/kustomize/options/catalog/base/service.yaml
Labels: approved, lgtm, Area/UI, Area/Manifests, Area/Model Catalog

#1592 feat(async-job): implement upload intents
  jobs/async-upload/README.md
  jobs/async-upload/job/config.py
  jobs/async-upload/job/entrypoint.py
  jobs/async-upload/job/models.py
  jobs/async-upload/job/mr_client.py
  jobs/async-upload/poetry.lock
  jobs/async-upload/pyproject.toml
  jobs/async-upload/samples/create_model_example.yaml
  jobs/async-upload/samples/create_version_example.yaml
  jobs/async-upload/samples/sample_job_s3_to_oci.yaml
  jobs/async-upload/tests/integration/test_integration_async_upload.py
  jobs/async-upload/tests/test_models.py
  jobs/async-upload/tests/test_mr_client.py
Labels: approved, lgtm, size/XXL, Area/Jobs/Async-upload

#1594 ADA-KUBEFL-12: remove pprof from "production code"
  internal/tls/config_test.go
  main.go
Labels: approved, size/S, lgtm, Area/Go REST server

#1609 ci: add job/async-upload to trivy scan
  .github/workflows/trivy-image-scanning.yaml
Labels: size/XS, approved, lgtm, Area/GitHub

#1613 Makefile: Replace old DEV_MODE_PORT in federated commands with correct variables
  clients/ui/Makefile
  clients/ui/docs/local-deployment-guide.md
Labels: size/XS, approved, lgtm, Area/UI

#1618 docs: add OpenSSF ScoreCard link in README
  README.md
Labels: size/XS, approved, lgtm

#1620 Add filter and search bar to model catalog
  clients/ui/api/openapi/mod-arch.yaml
  clients/ui/bff/internal/mocks/model_catalog_client_mock.go
  clients/ui/bff/internal/mocks/static_data_mock.go
  clients/ui/frontend/src/app/api/modelCatalog/service.ts
  clients/ui/frontend/src/app/context/modelCatalog/ModelCatalogContext.tsx
  clients/ui/frontend/src/app/hooks/modelCatalog/useCatalogModelsBySource.ts
  clients/ui/frontend/src/app/modelCatalogTypes.ts
  clients/ui/frontend/src/app/pages/modelCatalog/EmptyModelCatalogState.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/ModelCatalogCoreLoader.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/ModelCatalogRoutes.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/InvalidCatalogSource.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalog.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalogPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalogSourceSelector.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalogSourceSelectorNavigator.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/utils/modelCatalogUtils.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ThemeAwareSearchInput.tsx
Labels: approved, lgtm, size/XL, Area/UI

#1619 feat(catalog): rename the model-catalog service
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/base_testenv.go
  clients/ui/bff/internal/repositories/model_catalog.go
  manifests/kustomize/options/catalog/base/deployment.yaml
  manifests/kustomize/options/catalog/base/kustomization.yaml
  manifests/kustomize/options/catalog/base/service.yaml
  manifests/kustomize/options/catalog/overlay/destination-rule.yaml
  manifests/kustomize/options/catalog/overlay/virtual-service.yaml
Labels: approved, size/S, lgtm, Area/UI, Area/Manifests, Area/Model Catalog

#1616 fix: postgres bugs found with the fuzz testing
  internal/db/constants/states.go
  internal/db/filter/query_builder.go
  internal/db/models/artifact.go
  internal/db/models/serve_model.go
Labels: approved, lgtm, size/L, Area/Go REST server

#1622 Fix typo in FE
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalogPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalogSourceSelector.tsx
Labels: size/XS, approved, lgtm, Area/UI

#1625 Fix MR properties table reload issue
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsTabs.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsCard.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ArchiveModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionArchiveDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ModelPropertiesExpandableSection.tsx
Labels: approved, lgtm, size/M, Area/UI

#1628 Fix model catalog details uri absent issue
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/RegisterCatalogModelForm.tsx
Labels: approved, size/S, lgtm, Area/UI

#1585 feat: add labels field to catalog sources
  api/openapi/catalog.yaml
  api/openapi/src/catalog.yaml
  catalog/internal/catalog/catalog.go
  catalog/internal/server/openapi/api_model_catalog_service_service_test.go
  catalog/internal/server/openapi/type_asserts.go
  catalog/pkg/openapi/model_catalog_source.go
Labels: approved, lgtm, size/M, Area/Go REST server, Area/Model Catalog

#1633 bff(chore): clamp int values before casting to int32 in pagination
  clients/ui/bff/internal/mocks/model_catalog_client_mock.go
Labels: approved, size/S, lgtm, Area/UI

#1634 fix(catalog): add missing metadataType values in test catalog YAML
  .gitignore
  catalog/internal/catalog/testdata/test-yaml-catalog.yaml
Labels: size/XS, approved, lgtm, Area/Model Catalog

#1623 feat(catalog): add postgres for catalog dev
  devenv/configs/tiltfiles/catalog.tiltfile
  docker-compose-local.yaml
  docker-compose.yaml
Labels: approved, lgtm, size/M

#1629 Fix make file
  clients/ui/bff/Makefile
Labels: size/XS, approved, lgtm, Area/UI

#1630 fix: unicode characters in stepids
  clients/python/tests/fuzz_api/model_registry/test_mr_stateless.py
  cmd/proxy.go
  internal/converter/openapi_converter_util.go
  internal/converter/openapi_converter_util_test.go
  internal/core/experiment_run.go
  internal/core/metric_history_test.go
  internal/db/service/metric_history.go
  internal/db/service/metric_history_test.go
  internal/server/middleware/router.go
  internal/server/middleware/validation.go
  internal/server/middleware/validation_test.go
  internal/server/openapi/api_model_registry_service_service.go
Labels: approved, lgtm, size/XL, Area/MR Python client, Area/Go REST server

#1638 fix user token handling
  clients/python/src/model_registry/_client.py
  clients/python/tests/test_client.py
Labels: approved, lgtm, size/M, Area/MR Python client

#1588 feat(ci): introduce first step to sbom
  .github/workflows/build-and-push-async-upload.yml
  .github/workflows/build-and-push-csi-image.yml
  .github/workflows/build-and-push-image.yml
  .github/workflows/build-and-push-ui-images-standalone.yml
  .github/workflows/build-and-push-ui-images.yml
Labels: approved, lgtm, size/M, Area/GitHub

#1658 ci: dependabot prefers requirements.txt
  .github/dependabot.yml
Labels: approved, lgtm, Area/GitHub

#1662 upgraded axios version
  clients/ui/frontend/package-lock.json
Labels: approved, lgtm, Area/UI

#1666 Add STUB endpoint for filter_option and update types, mocks
  clients/ui/api/openapi/mod-arch.yaml
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/catalog_filters_handler.go
  clients/ui/bff/internal/api/catalog_models_handler.go
  clients/ui/bff/internal/api/catalog_sources_handler.go
  clients/ui/bff/internal/mocks/model_catalog_client_mock.go
  clients/ui/bff/internal/mocks/static_data_mock.go
  clients/ui/bff/internal/models/catalog_model_artifact_list.go
  clients/ui/bff/internal/models/catalog_model_list.go
  clients/ui/bff/internal/models/catalog_source_list.go
  clients/ui/bff/internal/repositories/catalog_models.go
  clients/ui/bff/internal/repositories/catalog_sources.go
  clients/ui/frontend/src/__mocks__/mockCatalogModelArtifactList.ts
  clients/ui/frontend/src/__mocks__/mockCatalogSourceList.ts
  clients/ui/frontend/src/app/api/modelCatalog/service.ts
  clients/ui/frontend/src/app/hooks/modelCatalog/useCatalogFilterOptionList.ts
  clients/ui/frontend/src/app/hooks/modelCatalog/useCatalogModelArtifacts.ts
  clients/ui/frontend/src/app/hooks/modelCatalog/useModelCatalogAPIState.tsx
  clients/ui/frontend/src/app/modelCatalogTypes.ts
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsTabs.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/RegisterCatalogModelForm.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/utils/modelCatalogUtils.ts
Labels: approved, lgtm, size/XXL, Area/UI

#1687 Use fixed keys for CatalogFilterOptionsList type
  clients/ui/frontend/src/app/modelCatalogTypes.ts
Labels: approved, size/S, lgtm, Area/UI
