Repository kubeflow/model-registry, pull requests merged in 2025-01, with the labels that each got.

#691 Add env.test file
  clients/ui/.env.test
  clients/ui/.gitignore
  clients/ui/frontend/.env.test
  clients/ui/frontend/src/__tests__/cypress/cypress/utils/testConfig.ts
Labels: size/XS, approved, lgtm, Area/UI

#595 Add Istio overlay for UI integration with Central Dashboard
  clients/ui/frontend/config/dotenv.js
  clients/ui/frontend/config/webpack.common.js
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__mocks__/mockNamespace.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistry.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistrySettings.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/modelVersionArchive.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/modelVersionDetails.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/registerModelPage.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/registeredModelArchive.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/e2e.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersionArchive.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersionDetails.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelVersions.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/registeredModelArchive.cy.ts
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/context/ModelRegistryContext.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersions.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ArchiveModelVersionDetailsBreadcrumb.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionArchiveDetailsBreadcrumb.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionsArchive.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelArchiveDetailsBreadcrumb.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelsArchive.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/routeUtils.ts
  clients/ui/frontend/src/index.html
  clients/ui/frontend/src/shared/api/k8s.ts
  clients/ui/frontend/src/shared/hooks/useQueryParamNamespaces.ts
  clients/ui/frontend/src/shared/utilities/const.ts
  clients/ui/manifests/README.md
  clients/ui/manifests/base/kustomization.yaml
  clients/ui/manifests/base/model-registry-bff-service-account.yaml
  clients/ui/manifests/base/model-registry-bff-service.yaml
  clients/ui/manifests/base/model-registry-ui-deployment.yaml
  clients/ui/manifests/base/model-registry-ui-service.yaml
  clients/ui/manifests/kubeflow/kubeflow-dashboard-rbac.yaml
  clients/ui/manifests/kubeflow/kustomization.yaml
  clients/ui/manifests/kubeflow/model-registry-ui-deployment.yaml
  clients/ui/manifests/overlays/istio/authorization-policy-bff.yaml
  clients/ui/manifests/overlays/istio/authorization-policy-ui.yaml
  clients/ui/manifests/overlays/istio/destination-rule-bff.yaml
  clients/ui/manifests/overlays/istio/destination-rule-ui.yaml
  clients/ui/manifests/overlays/istio/kustomization.yaml
  clients/ui/manifests/overlays/istio/model-registry-ui-service.yaml
  clients/ui/manifests/overlays/istio/virtual-service.yaml
  clients/ui/manifests/standalone/kustomization.yaml
Labels: approved, lgtm, size/L, Area/UI

#692 Fix namespace selector
  clients/ui/frontend/.env.cypress.mock
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/index.tsx
  clients/ui/frontend/src/shared/api/apiUtils.ts
  clients/ui/frontend/src/shared/context/DashboardScriptLoader.tsx
  clients/ui/frontend/src/shared/context/NamespaceSelectorContext.tsx
  clients/ui/frontend/src/shared/hooks/useQueryParamNamespaces.ts
Labels: approved, lgtm, size/L, Area/UI

#690 feat(bff): serving static assets on bff
  clients/ui/bff/Dockerfile
  clients/ui/bff/Makefile
  clients/ui/bff/cmd/main.go
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/app_test.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/static/index.html
  clients/ui/bff/static/sub/test.html
Labels: approved, lgtm, size/L, Area/UI

#701 feat(bff): proper support for SPA routes
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/app_test.go
Labels: approved, size/S, lgtm, Area/GitHub, Area/UI

#704 Fix(frontend): Nav and Page Spacing
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: size/XS, approved, lgtm, Area/UI

#707 feat(bff): create endpoint to list all model versions
  clients/ui/bff/README.md
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/api/model_versions_handler_test.go
  clients/ui/bff/internal/api/registered_models_handler.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
  clients/ui/bff/internal/repositories/model_version.go
  clients/ui/bff/internal/repositories/model_version_test.go
  clients/ui/bff/internal/repositories/registered_model.go
  clients/ui/bff/internal/repositories/registered_model_test.go
Labels: approved, lgtm, size/L, Area/UI

#708 chore: align manifest for 0.2.12
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: size/XS, approved, lgtm, Area/Manifests

#594 Adds ability to change logging verbosity and adds more debug telemetry
  clients/ui/bff/Makefile
  clients/ui/bff/README.md
  clients/ui/bff/cmd/main.go
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/healthcheck__handler_test.go
  clients/ui/bff/internal/api/healthcheck_handler.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/api/namespaces_handler.go
  clients/ui/bff/internal/api/namespaces_handler_test.go
  clients/ui/bff/internal/api/registered_models_handler.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/api/user_handler.go
  clients/ui/bff/internal/api/user_handler_test.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/constants/keys.go
  clients/ui/bff/internal/integrations/http.go
  clients/ui/bff/internal/integrations/http_helpers.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/k8s_mock_test.go
  clients/ui/bff/internal/mocks/static_data_mock.go
  clients/ui/bff/internal/repositories/model_registry.go
  clients/ui/bff/internal/repositories/model_registry_test.go
Labels: approved, lgtm, size/L, Area/UI

#709 fix: update api.go link in README.md
  README.md
Labels: size/XS, approved, lgtm

#713 fix: bump go deps to fix GO-2024-3333
  go.mod
  go.sum
Labels: approved, size/S, lgtm

#710 Adds BFF support for CORS
  clients/ui/bff/Makefile
  clients/ui/bff/README.md
  clients/ui/bff/cmd/main.go
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/helpers.go
  clients/ui/bff/internal/api/helpers_test.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/constants/keys.go
Labels: approved, lgtm, size/L, Area/UI

#718 fix: patch requests to artifact endpoint make mr panic
  clients/python/tests/regression_test.py
  internal/converter/openapi_reconciler_util.go
  internal/server/openapi/api_model_registry_service_service.go
Labels: approved, lgtm, size/M, Area/MR Python client, Area/Go REST server

#720 feat(bff) crud for api/v1/model_registry/{model_registry_id}/artifacts
  clients/ui/bff/README.md
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/artifacts_handler.go
  clients/ui/bff/internal/api/artifacts_handler_test.go
  clients/ui/bff/internal/api/suite_test.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
  clients/ui/bff/internal/mocks/static_data_mock.go
  clients/ui/bff/internal/mocks/types_mock.go
  clients/ui/bff/internal/repositories/artifacts.go
  clients/ui/bff/internal/repositories/model_registry_client.go
Labels: approved, lgtm, size/XL, Area/UI

#722 chore: bump py version to 0.2.13
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#721 fix(nav, masthead): Edit navbar styling to handle dynamic window sizing
  clients/ui/frontend/src/app/NavBar.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, size/S, lgtm, Area/UI

#723 Fix issue with make command
  clients/ui/Dockerfile
  clients/ui/Makefile
  clients/ui/scripts/deploy_kind_cluster.sh
Labels: approved, size/S, lgtm, Area/UI

#729 fix(frontend): adding missing key for SimpleSelect
  clients/ui/frontend/src/shared/components/SimpleSelect.tsx
Labels: size/XS, approved, lgtm, Area/UI

#728 chore(frontend): FE version bump for eslint-plugin-react-hooks, typescript-eslint/parser and @typescript-eslint/eslint-plugin
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/L, Area/UI

#732 Update install_protoc.sh script to support apple architectures
  scripts/install_protoc.sh
Labels: size/XS, approved, lgtm

#727 chore(bff): version bump for golang 1.22.2 -> 1.23.5, go lint v1.63.4 and k8s.io/apimachinery from 0.31.4 to 0.32.1
  .github/workflows/ui-bff-build.yml
  clients/ui/bff/Makefile
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
Labels: approved, lgtm, size/M, Area/GitHub, Area/UI

#731 Moving UI Manifests to root manifests directory
  clients/ui/docs/local-deployment-guide-ui.md
  clients/ui/scripts/deploy_kind_cluster.sh
  manifests/kustomize/README.md
  manifests/kustomize/options/ui/base/kustomization.yaml
  manifests/kustomize/options/ui/base/model-registry-ui-deployment.yaml
  manifests/kustomize/options/ui/base/model-registry-ui-role.yaml
  manifests/kustomize/options/ui/base/model-registry-ui-service-account.yaml
  manifests/kustomize/options/ui/base/model-registry-ui-service.yaml
  manifests/kustomize/options/ui/overlays/integrated/kustomization.yaml
  manifests/kustomize/options/ui/overlays/integrated/model-registry-ui-deployment.yaml
  manifests/kustomize/options/ui/overlays/istio/authorization-policy-ui.yaml
  manifests/kustomize/options/ui/overlays/istio/destination-rule-ui.yaml
  manifests/kustomize/options/ui/overlays/istio/kustomization.yaml
  manifests/kustomize/options/ui/overlays/istio/model-registry-ui-service.yaml
  manifests/kustomize/options/ui/overlays/istio/virtual-service.yaml
  manifests/kustomize/options/ui/overlays/standalone/kubeflow-dashboard-rbac.yaml
  manifests/kustomize/options/ui/overlays/standalone/kustomization.yaml
  manifests/kustomize/options/ui/overlays/standalone/model-registry-ui-deployment.yaml
Labels: approved, lgtm, size/M, Area/UI, Area/Manifests

#726 Update verify_ssl behaviour in Configuration class
  clients/python/src/model_registry/core.py
  clients/python/src/mr_openapi/configuration.py
Labels: approved, size/S, lgtm, Area/MR Python client

#700 feat(proxy): make the proxy resilient on mlmd failure
  api/openapi/model-registry.yaml
  cmd/proxy.go
  internal/mlmdtypes/mlmdtypes.go
  internal/proxy/dynamic_router.go
  pkg/api/error.go
  pkg/openapi/api_model_registry_service.go
Labels: approved, lgtm, size/XL, Area/Go REST server
