Repository kubeflow/model-registry, pull requests merged in 2025-10, with the labels that each got.

#1684 chore: bump MR py client version to 0.3.2
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: approved, lgtm, Area/MR Python client

#1664 MC Hardware configuration table with mock data
  clients/ui/bff/internal/models/catalog_model_artifact_list.go
  clients/ui/frontend/src/__mocks__/mockCatalogModelArtifactList.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelCatalog.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelCatalog/modelCatalogTabs.cy.ts
  clients/ui/frontend/src/app/modelCatalogTypes.ts
  clients/ui/frontend/src/app/pages/modelCatalog/components/HardwareConfigurationTable.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/HardwareConfigurationTableColumns.ts
  clients/ui/frontend/src/app/pages/modelCatalog/components/HardwareConfigurationTableRow.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/mocks/hardwareConfigurationMock.ts
  clients/ui/frontend/src/app/pages/modelCatalog/screens/PerformanceInsightsView.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/utils/performanceMetricsUtils.ts
  clients/ui/frontend/src/app/utils.ts
Labels: approved, lgtm, size/XXL, Area/UI

#1695 chore: remove go.work and go.work.sum
  .github/workflows/prepare.yml
  .gitignore
  Dockerfile
  Dockerfile.odh
  clients/ui/bff/go.work
  clients/ui/bff/go.work.sum
  cmd/csi/Dockerfile.csi
  go.work
  go.work.sum
Labels: approved, lgtm, size/XXL, Area/GitHub, Area/UI, Area/Go REST server

#1704 fix: catalog postgres secret name
  manifests/kustomize/options/catalog/base/kustomization.yaml
Labels: size/XS, approved, lgtm, Area/Manifests, Area/Model Catalog

#1698 Basic filters rendering
  clients/ui/bff/internal/mocks/static_data_mock.go
  clients/ui/frontend/src/__mocks__/mockCatalogFilterOptionsList.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelCatalog.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelCatalog/modelCatalog.cy.ts
  clients/ui/frontend/src/app/context/modelCatalog/ModelCatalogContext.tsx
  clients/ui/frontend/src/app/modelCatalogTypes.ts
  clients/ui/frontend/src/app/pages/modelCatalog/components/ModelCatalogFilters.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/ModelCatalogStringFilter.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/globalFilters/LanguageFilter.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/globalFilters/LicenseFilter.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/globalFilters/ProviderFilter.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/globalFilters/TaskFilter.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalog.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/utils/modelCatalogUtils.ts
  clients/ui/frontend/src/concepts/modelCatalog/const.ts
Labels: approved, lgtm, size/XL, Area/UI

#1706 chore: cleanup gomod and also bump mr apis to 3.1
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
Labels: size/XS, approved, lgtm, Area/UI

#1720 fix: return 404 in artifact creation on non existing model version
  clients/python/tests/fuzz_api/model_registry/test_mr_stateless.py
  internal/core/artifact.go
Labels: approved, lgtm, size/M, Area/MR Python client, Area/Go REST server

#1721 Setup initial structure for loading performance data
  catalog/cmd/catalog.go
  catalog/internal/catalog/performance_metrics.go
Labels: approved, lgtm, size/L, Area/Model Catalog
