Repository kubeflow/model-registry, pull requests merged in 2025-08, with the labels that each got.

#1394 fix(client/tests) Upgrade Pytest Asyncio and fix affected tests
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/tests/conftest.py
  clients/python/tests/test_client.py
Labels: approved, lgtm, size/L, Area/MR Python client

#1333 Fix artifacts fetched twice on model version details page
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelVersionArchive.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsHeaderActions.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsTabs.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ArchiveModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionArchiveDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/getModelVersionTuningData.ts
Labels: approved, lgtm, size/L, Area/UI

#1398 chore: add Area label for Jobs/async-upload
  .github/labeler.yml
Labels: size/XS, approved, lgtm, Area/GitHub

#1416 Add links to existing READMEs and add README for the model catalog
  .gitignore
  README.md
  catalog/README.md
Labels: approved, lgtm, size/L

#1418 doc: update link for Model Catalog Swagger UI to KF website
  catalog/README.md
Labels: size/XS, approved, lgtm

#1433 fix: Handle rolling update when running e2e tests on an existing kind cluster
  clients/python/Makefile
  scripts/deploy_on_kind.sh
Labels: size/XS, approved, lgtm, Area/MR Python client

#1413 update catalog source docs
  manifests/kustomize/options/catalog/README.md
  manifests/kustomize/options/catalog/sources.yaml
Labels: approved, lgtm, size/M, Area/Manifests

#1368 Model Registry Content Description changes
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelDetailsCard.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelDetailsCard.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModel.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModelDetailsFormSection.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
Labels: approved, size/S, lgtm, Area/UI

#1376 Add NamespaceContext
  clients/ui/bff/internal/api/namespaces_handler_test.go
  clients/ui/bff/internal/models/namespace.go
  clients/ui/frontend/src/app/api/k8s.ts
  clients/ui/frontend/src/app/hooks/useNamespaces.ts
  clients/ui/frontend/src/app/pages/modelRegistrySettings/ModelRegistriesPermissions.tsx
  clients/ui/frontend/src/app/pages/modelRegistrySettings/ModelRegistryManagePermissions.tsx
  clients/ui/frontend/src/app/pages/modelRegistrySettings/__tests__/useModelRegistryRoleBindings.spec.ts
  clients/ui/frontend/src/app/pages/modelRegistrySettings/useModelRegistryPermissionsLogic.ts
  clients/ui/frontend/src/app/pages/settings/__tests__/roleBindingUtils.spec.ts
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissions.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissionsNameInput.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissionsTable.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissionsTableRow.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/__tests__/utils.spec.ts
  clients/ui/frontend/src/app/pages/settings/roleBinding/utils.ts
  clients/ui/frontend/src/app/pages/settings/roleBindingUtils.ts
  clients/ui/frontend/src/app/shared/components/types.ts
Labels: approved, lgtm, size/XXL, Area/UI

#1373 Initial Model Catalog skeleton
  clients/ui/frontend/src/__mocks__/mockModelArtifactList.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelCatalog.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelCatalog/modelCatalog.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelCatalog/modelCatalogCard.cy.ts
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/context/modelCatalog/ModelCatalogContext.tsx
  clients/ui/frontend/src/app/hooks/modelCatalog/useModelCatalogSources.ts
  clients/ui/frontend/src/app/modelCatalogTypes.ts
  clients/ui/frontend/src/app/pages/modelCatalog/components/ModelCatalogCard.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/ModelCatalogLabels.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalogPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/utils/modelCatalogUtils.ts
Labels: approved, lgtm, size/XL, Area/UI

#1388 Add latest version column to models list
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistry.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/registeredModelArchive.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelRegistry.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/registeredModelArchive.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelTable.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelsTableColumns.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelsArchiveTable.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ModelLabels.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/utils.ts
Labels: approved, lgtm, size/L, Area/UI

#1397 Add model details card to version details page
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/modelDetailsCard.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelVersionDetails.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelDetailsCard.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ModelEditableLabelsDescriptionListGroup.tsx
Labels: approved, lgtm, size/XL, Area/UI

#1435 ci: Enable execution of make test-fuzz via pull request comment
  .github/workflows/test-fuzz.yml
Labels: approved, lgtm, size/L, Area/GitHub

#1438 Structure MR BFF server to use secure HTTP calls
  clients/ui/bff/README.md
  clients/ui/bff/cmd/helpers.go
  clients/ui/bff/cmd/main.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/integrations/mrserver/http.go
  clients/ui/bff/internal/integrations/mrserver/http_test.go
Labels: approved, lgtm, size/M, Area/UI

#1462 chore: add mturley to module clients/ui
  clients/ui/OWNERS
Labels: approved, lgtm, Area/UI

#1451 fixed filtering in model registry views
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistry.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/modelVersionArchive.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/registeredModelArchive.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelRegistry.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelVersionArchive.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelVersions.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/registeredModelArchive.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModelsArchive/RegisteredModelsArchiveListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/__tests__/utils.spec.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/const.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/utils.ts
  clients/ui/frontend/src/app/shared/components/FilterToolbar.tsx
Labels: approved, lgtm, size/XL, Area/UI

#1458 ci: clamp GHA with base pemissions: block
  .github/workflows/async-upload-test.yml
  .github/workflows/build-and-push-csi-image.yml
  .github/workflows/build-and-push-image.yml
  .github/workflows/build-image-pr.yml
  .github/workflows/build-image-ui-pr.yml
  .github/workflows/build.yml
  .github/workflows/check-db-schema-structs.yaml
  .github/workflows/check-openapi-spec-pr.yaml
  .github/workflows/controller-test.yml
  .github/workflows/csi-test.yml
  .github/workflows/fossa-license-scanning.yml
  .github/workflows/prepare.yml
  .github/workflows/python-tests.yml
  .github/workflows/ui-bff-build.yml
  .github/workflows/ui-frontend-build.yml
Labels: approved, lgtm, size/M, Area/GitHub

#1470 fix: possible int overflow
  internal/converter/openapi_converter_util.go
Labels: approved, size/S, lgtm, Area/Go REST server

#1473 ci: followup #1458 for build-and-push-image defaults
  .github/workflows/build-and-push-image.yml
Labels: size/XS, approved, lgtm, Area/GitHub

#1472 feat: add securityContext to async-upload Job sample
  jobs/async-upload/samples/sample_job_s3_to_oci.yaml
Labels: approved, size/S, lgtm, Area/Jobs/Async-upload

#1501 Update model registry response format
  clients/ui/api/openapi/mod-arch.yaml
  clients/ui/bff/internal/api/model_registry_settings_handler.go
  clients/ui/bff/internal/models/model_registry_kind.go
  clients/ui/frontend/src/app/api/k8s.ts
  clients/ui/frontend/src/app/hooks/useModelRegistryCR.ts
Labels: approved, lgtm, size/L, Area/UI

#1487 fix filterQuery IN operator
  internal/core/experiment_test.go
  internal/db/filter/parser.go
  internal/db/filter/parser_test.go
  internal/db/filter/query_builder.go
Labels: approved, lgtm, size/L, Area/Go REST server

#1510 Add fuzz tests for model catalog and refactor folder structure
  clients/python/tests/conftest.py
  clients/python/tests/constants.py
  clients/python/tests/fuzz_api/conftest.py
  clients/python/tests/fuzz_api/model_catalog/test_catalog_stateless.py
  clients/python/tests/fuzz_api/model_registry/test_mr_stateful.py
  clients/python/tests/fuzz_api/model_registry/test_mr_stateless.py
Labels: approved, lgtm, size/L, Area/MR Python client

#1505 Model Catalog Details Page
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelCatalog.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelCatalog/modelCatalogDetails.cy.ts
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/ModelCatalogCoreLoader.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/ModelCatalogRoutes.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/ModelCatalogCard.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalogPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsView.tsx
Labels: approved, lgtm, size/L, Area/UI

#1526 fix: prevent page reload on "View versions" link clicks
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelVersionDetails.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsCard.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ViewAllVersionsButton.tsx
Labels: approved, lgtm, size/M, Area/UI
