Repository kubeflow/model-registry, pull requests merged in 2025-04, with the labels that each got.

#930 feat(frontend): Create REST API for Model Registry Settings
  clients/ui/frontend/src/app/api/k8s.ts
Labels: approved, lgtm, size/L, Area/UI

#934 docs[py]: Update docs for Py Client
  clients/python/README.md
  clients/python/docs/conf.py
Labels: approved, size/S, lgtm, Area/MR Python client

#773 Openapi spec update
  api/openapi/model-registry.yaml
  clients/python/src/mr_openapi/api/model_registry_service_api.py
  pkg/openapi/api_model_registry_service.go
Labels: approved, lgtm, size/L, Area/MR Python client, Area/Go REST server

#948 fix(bff): port to golangci-lint v2
  .github/workflows/ui-bff-build.yml
  clients/ui/bff/.golangci.yaml
  clients/ui/bff/Makefile
  clients/ui/bff/internal/integrations/http.go
Labels: approved, lgtm, size/M, Area/GitHub, Area/UI

#950 chore: align manifest for 0.2.16
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: approved, size/S, lgtm, Area/Manifests

#912 chore(openapi): sort keys for easier browsing
  .github/workflows/check-openapi-spec-pr.yaml
  Makefile
  api/openapi/model-registry.yaml
Labels: approved, lgtm, size/XXL, Area/GitHub, Area/Go REST server

#956 chore: bump MR py client version
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#951 Add --load flag to Docker build command in Makefile
  Makefile
  clients/python/Makefile
Labels: size/XS, approved, lgtm, Area/MR Python client

#953 Revamp UI docs
  clients/ui/CONTRIBUTING.md
  clients/ui/README.md
  clients/ui/bff/README.md
  clients/ui/bff/docs/contributing.md
  clients/ui/frontend/CONTRIBUTING.md
  clients/ui/frontend/README.md
  clients/ui/frontend/docs/README.md
  clients/ui/frontend/docs/env-variables.md
Labels: approved, lgtm, size/L, Area/UI

#955 Enable standalone image build
  .github/workflows/build-and-push-ui-images-standalone.yml
  clients/ui/.env
  clients/ui/README.md
  clients/ui/scripts/deploy_kind_cluster.sh
Labels: approved, lgtm, size/M, Area/GitHub, Area/UI

#957 tests: remove spurious values from test case
  clients/python/tests/test_client.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#952 Fixing UI file navigation in README
  README.md
Labels: size/XS, approved, lgtm

#961 chore: upgrade to Go 1.23
  .github/workflows/build.yml
  Dockerfile
  Dockerfile.odh
  README.md
  cmd/csi/Dockerfile.csi
  docs/mr_go_library.md
  go.mod
Labels: approved, size/S, lgtm, Area/GitHub, Area/Go REST server, Area/Documentation

#962 Address typos in error message and examples
  clients/python/README.md
  clients/python/src/model_registry/_client.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#958 Change USERNAME env to KUBEFLOW_USERNAME
  clients/ui/frontend/.env
  clients/ui/frontend/docs/env-variables.md
  clients/ui/frontend/src/shared/hooks/useNamespaces.ts
  clients/ui/frontend/src/shared/hooks/useSettings.tsx
  clients/ui/frontend/src/shared/utilities/const.ts
  devenv/configs/tiltfiles/frontend.tiltfile
Labels: approved, size/S, lgtm, Area/UI

#964 fix(proxy): compatibility with 1.24 bump golangci-lint
  Makefile
  cmd/proxy.go
  cmd/root.go
  internal/server/openapi/routers.go
  pkg/inferenceservice-controller/suite_test.go
  templates/go-server/routers.mustache
Labels: approved, size/S, lgtm, Area/Go REST server

#977 Update README for the python client
  clients/python/README.md
Labels: size/XS, approved, lgtm, Area/MR Python client

#917 feat(controller): introduce inferenceservice controller
  .github/workflows/controller-test.yml
  Makefile
  cmd/controller/.dockerignore
  cmd/controller/.gitignore
  cmd/controller/Dockerfile.controller
  cmd/controller/README.md
  cmd/controller/hack/boilerplate.go.txt
  cmd/controller/main.go
  devenv/configs/tiltfiles/controller.tiltfile
  devenv/tilt_config.json
  go.mod
  go.sum
  internal/controller/controllers/inferenceservice_controller.go
  internal/controller/controllers/inferenceservice_controller_test.go
  internal/controller/controllers/suite_test.go
  manifests/kustomize/options/controller/default/kustomization.yaml
  manifests/kustomize/options/controller/default/manager_metrics_patch.yaml
  manifests/kustomize/options/controller/default/metrics_service.yaml
  manifests/kustomize/options/controller/manager/kustomization.yaml
  manifests/kustomize/options/controller/manager/manager.yaml
  manifests/kustomize/options/controller/network-policy/allow-metrics-traffic.yaml
  manifests/kustomize/options/controller/network-policy/kustomization.yaml
  manifests/kustomize/options/controller/overlays/base/kustomization.yaml
  manifests/kustomize/options/controller/overlays/base/params.env
  manifests/kustomize/options/controller/overlays/base/replacements.yaml
  manifests/kustomize/options/controller/prometheus/kustomization.yaml
  manifests/kustomize/options/controller/prometheus/monitor.yaml
  manifests/kustomize/options/controller/rbac/kustomization.yaml
  manifests/kustomize/options/controller/rbac/leader_election_role.yaml
  manifests/kustomize/options/controller/rbac/leader_election_role_binding.yaml
  manifests/kustomize/options/controller/rbac/metrics_auth_role.yaml
  manifests/kustomize/options/controller/rbac/metrics_auth_role_binding.yaml
  manifests/kustomize/options/controller/rbac/metrics_reader_role.yaml
  manifests/kustomize/options/controller/rbac/role.yaml
  manifests/kustomize/options/controller/rbac/role_binding.yaml
  manifests/kustomize/options/controller/rbac/service_account.yaml
  tilt-controller.dockerfile
Labels: approved, lgtm, size/XXL, Area/GitHub, Area/Go REST server, Area/Manifests

#978 Address typo in example for S3Params
  clients/python/README.md
Labels: size/XS, approved, lgtm, Area/MR Python client

#970 scripts: fix default for the MR server image
  scripts/deploy_on_kind.sh
Labels: size/XS, approved, lgtm

#980 Add 409 for post calls, without it stateful api T2 tests are failing intermittently
  api/openapi/model-registry.yaml
  clients/python/src/mr_openapi/api/model_registry_service_api.py
  pkg/openapi/api_model_registry_service.go
Labels: approved, lgtm, size/M, Area/MR Python client, Area/Go REST server

#981 chore(frontend): Upgrade to PF 6.2.0
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterVersion.tsx
  clients/ui/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/L, Area/UI

#984 feat: improve dev QoL
  Dockerfile
  clients/python/Makefile
  scripts/deploy_on_kind.sh
Labels: approved, lgtm, size/M, Area/MR Python client

#918 feat(bff): introduce support of multiple auth methods (internal, user_token)
  clients/ui/bff/Makefile
  clients/ui/bff/README.md
  clients/ui/bff/cmd/main.go
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/app_test.go
  clients/ui/bff/internal/api/artifacts_handler.go
  clients/ui/bff/internal/api/artifacts_handler_test.go
  clients/ui/bff/internal/api/errors.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_artifacts_handler.go
  clients/ui/bff/internal/api/model_artifacts_handler_test.go
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/api/model_versions_handler_test.go
  clients/ui/bff/internal/api/namespaces_handler.go
  clients/ui/bff/internal/api/namespaces_handler_test.go
  clients/ui/bff/internal/api/registered_models_handler.go
  clients/ui/bff/internal/api/registered_models_handler_test.go
  clients/ui/bff/internal/api/suite_test.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/api/user_handler.go
  clients/ui/bff/internal/api/user_handler_test.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/constants/keys.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/integrations/kubernetes/client.go
  clients/ui/bff/internal/integrations/kubernetes/factory.go
  clients/ui/bff/internal/integrations/kubernetes/internal_k8s_client.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/base_testenv.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/internal_k8s_client_mock.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/mock_factory.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/token_k8s_client_mock.go
  clients/ui/bff/internal/integrations/kubernetes/shared_k8s_client.go
  clients/ui/bff/internal/integrations/kubernetes/tests/factory_test.go
  clients/ui/bff/internal/integrations/kubernetes/tests/internal_k8s_client_test.go
  clients/ui/bff/internal/integrations/kubernetes/tests/suite_test.go
  clients/ui/bff/internal/integrations/kubernetes/tests/token_k8s_client_test.go
  clients/ui/bff/internal/integrations/kubernetes/token_k8s_client.go
  clients/ui/bff/internal/integrations/kubernetes/types.go
  clients/ui/bff/internal/integrations/mrserver/constants.go
  clients/ui/bff/internal/integrations/mrserver/http.go
  clients/ui/bff/internal/integrations/mrserver/http_test.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/k8s_mock_test.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
  clients/ui/bff/internal/mocks/suite_test.go
  clients/ui/bff/internal/repositories/artifacts.go
  clients/ui/bff/internal/repositories/model_artifacts.go
  clients/ui/bff/internal/repositories/model_registry.go
  clients/ui/bff/internal/repositories/model_registry_test.go
  clients/ui/bff/internal/repositories/model_version.go
  clients/ui/bff/internal/repositories/namespace.go
  clients/ui/bff/internal/repositories/registered_model.go
  clients/ui/bff/internal/repositories/user.go
Labels: approved, lgtm, size/XXL, Area/UI

#985 Clean up port forwards after tests run
  .github/workflows/python-tests.yml
  clients/python/.gitignore
  clients/python/Makefile
  scripts/deploy_local_kind_registry.sh
Labels: approved, lgtm, size/M, Area/MR Python client, Area/GitHub

#988 chore(manifests): remove CPU limits
  cmd/csi/GET_STARTED.md
  cmd/csi/samples/modelregistry.clusterstoragecontainer.yaml
  manifests/kustomize/options/controller/manager/manager.yaml
  manifests/kustomize/options/csi/clusterstoragecontainer.yaml
  manifests/kustomize/options/ui/base/model-registry-ui-deployment.yaml
  test/csi/e2e_test.sh
Labels: size/XS, approved, lgtm, Area/Go REST server, Area/Manifests

#991 chore: fix inconsistent case in Dockerfile
  Dockerfile
Labels: size/XS, approved, lgtm

#987 fix(client): Prevent model overwrite on duplicate registration
  clients/python/src/model_registry/_client.py
  clients/python/tests/test_client.py
Labels: approved, size/S, lgtm, Area/MR Python client, Area/UI

#995 chore: fix typo in clients/python/README.md
  clients/python/README.md
Labels: size/XS, approved, lgtm, Area/MR Python client

#1007 remove todo 401
  internal/server/openapi/api_model_registry_service_service.go
Labels: approved, lgtm, size/M, Area/Go REST server

#425 feat(proxy): introduce datastore abstraction
  cmd/proxy.go
  cmd/root.go
  docker-compose-local.yaml
  docker-compose.yaml
  internal/datastore/connector.go
  internal/datastore/mlmd.go
  manifests/kustomize/base/model-registry-configmap.yaml
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/overlays/db/patches/model-registry-deployment.yaml
  pkg/core/artifact.go
  pkg/core/registered_model.go
Labels: approved, lgtm, size/L, Area/Go REST server, Area/Manifests

#1014 Fix typos and broken link in ui/README
  README.md
  clients/ui/README.md
  docs/logical_model.md
  docs/mr_kind_deploy_ingress.md
Labels: approved, size/S, lgtm, Area/UI, Area/Documentation

#1016 Fix the broken link
  clients/ui/CONTRIBUTING.md
Labels: size/XS, approved, lgtm, Area/UI, ok-to-test

#1015 Fix broken links in clients/ui folder
  clients/ui/CONTRIBUTING.md
  clients/ui/README.md
  clients/ui/frontend/docs/dev-setup.md
Labels: size/XS, approved, lgtm, Area/UI, Area/Documentation

#982 Add STUB endpoints for settings RBAC
  clients/ui/api/openapi/mod-arch.yaml
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/model_registry_settings_handler.go
  clients/ui/bff/internal/api/model_registry_settings_rbac_handler.go
  clients/ui/bff/internal/models/model_registry_settings_types.go
  clients/ui/bff/internal/models/rbac_types.go
Labels: approved, lgtm, size/XL, Area/GitHub, Area/UI

#1022 py: resolve dependency conflict for extra boto3
  clients/python/poetry.lock
  clients/python/pyproject.toml
Labels: approved, lgtm, size/M, Area/MR Python client

#1024 chore(python-client): ensure extras install when running e2e tests
  clients/python/Makefile
Labels: size/XS, approved, lgtm, Area/MR Python client

#1031 feat(py): Add support for OCI Auth/Login via MR Client
  clients/python/README.md
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/utils.py
  clients/python/tests/conftest.py
  clients/python/tests/test_client.py
  clients/python/tests/test_utils.py
Labels: approved, lgtm, size/L, Area/MR Python client

#1046 chore: align manifest for 0.2.17
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: approved, size/S, lgtm, Area/Manifests

#1049 chore: add comment
  Dockerfile
Labels: size/XS, approved, lgtm

#1047 chore: bump MR py client version to next v0.2.18
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client
