Repository kubeflow/model-registry, pull requests merged in 2025-03, with the labels that each got.

#837 fix(bff): correctly forward errors from MR API on Get operations
  clients/ui/bff/internal/integrations/http.go
  clients/ui/bff/internal/integrations/http_test.go
Labels: approved, lgtm, size/L, Area/UI

#839 handle GET reqs with invalid query params as 400
  pkg/api/error.go
  pkg/core/artifact_test.go
  pkg/core/inference_service_test.go
  pkg/core/model_version_test.go
  pkg/core/registered_model_test.go
  pkg/core/serving_environment_test.go
Labels: approved, lgtm, size/L, Area/Go REST server

#833 Add new check to PR templates and tweak UI GA
  .github/pull_request_template.md
  .github/workflows/ui-bff-build.yml
  .github/workflows/ui-frontend-build.yml
  .gitignore
Labels: approved, lgtm, size/M, Area/GitHub

#761 Add `upload_artifact_and_register_model` method to python client
  clients/python/README.md
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/utils.py
  clients/python/tests/.gitignore
  clients/python/tests/conftest.py
  clients/python/tests/test_client.py
  clients/python/tests/test_utils.py
Labels: approved, lgtm, size/XL, Area/MR Python client

#849 feat(py): Implement Modular Async Runner
  clients/python/README.md
  clients/python/noxfile.py
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/_client.py
  clients/python/tests/conftest.py
  clients/python/tests/extras/__init__.py
  clients/python/tests/extras/async_task_runner.py
  clients/python/tests/test_client.py
Labels: approved, lgtm, size/XL, Area/MR Python client

#838 feat: add model source properties to store metadata about origin of a model artifact, fixes RHOAIENG-19885
  api/openapi/model-registry.yaml
  clients/python/src/model_registry/_client.py
  clients/python/src/model_registry/types/artifacts.py
  clients/python/src/mr_openapi/models/model_artifact.py
  clients/python/src/mr_openapi/models/model_artifact_create.py
  clients/python/src/mr_openapi/models/model_artifact_update.py
  clients/python/tests/test_core.py
  docs/logical_model.md
  internal/converter/generated/mlmd_openapi_converter.gen.go
  internal/converter/generated/openapi_converter.gen.go
  internal/converter/generated/openapi_reconciler.gen.go
  internal/converter/mlmd_converter_util_test.go
  internal/converter/mlmd_openapi_converter.go
  internal/converter/mlmd_openapi_converter_util.go
  internal/converter/openapi_converter.go
  internal/converter/openapi_mlmd_converter_util.go
  internal/mlmdtypes/mlmdtypes.go
  pkg/core/core_test.go
  pkg/openapi/model_model_artifact.go
  pkg/openapi/model_model_artifact_create.go
  pkg/openapi/model_model_artifact_update.go
Labels: approved, lgtm, size/XXL, Area/MR Python client, Area/Go REST server, Area/Documentation

#820 Run container image build of UI on PR
  .github/workflows/build-image-ui-pr.yml
Labels: approved, size/S, lgtm, Area/GitHub, ok-to-test

#852 feat(frontend): Create Model Registry Modal
  clients/ui/frontend/src/app/pages/settings/ModelRegistriesTable.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistryCreateModal.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistryCreateModalFooter.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistryDatabasePassword.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettings.tsx
  clients/ui/frontend/src/app/pages/settings/PasswordInput.tsx
  clients/ui/frontend/src/concepts/k8s/K8sNameDescriptionField/K8sNameDescriptionField.tsx
  clients/ui/frontend/src/concepts/k8s/K8sNameDescriptionField/ResourceNameField.tsx
  clients/ui/frontend/src/concepts/k8s/ResourceNameDefinitionTootip.tsx
  clients/ui/frontend/src/shared/components/FieldGroupHelpLabelIcon.tsx
Labels: approved, lgtm, size/XL, Area/UI

#855 feat(frontend): port DeleteModelRegistry modal
  clients/ui/frontend/src/app/pages/settings/DeleteModelRegistryModal.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistriesTable.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettings.tsx
Labels: approved, lgtm, size/L, Area/UI

#870 chore: align manifest for 0.2.15
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: approved, size/S, lgtm, Area/Manifests

#847 feat(bff): Stub endpoints for CRUD Model Registries
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_registry_settings_handler.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/models/model_registry.go
  clients/ui/bff/internal/models/model_registry_kind.go
  clients/ui/bff/internal/repositories/model_registry.go
  clients/ui/bff/internal/repositories/model_registry_test.go
Labels: approved, lgtm, size/L, Area/UI

#881 build(deps): frontend maintenance
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/L, Area/UI

#883 fix(frontend): Remove midstream reference from resource name tooltip
  clients/ui/frontend/src/concepts/k8s/ResourceNameDefinitionTootip.tsx
Labels: size/XS, approved, lgtm, Area/UI

#884 build(deps): bump @module-federation/enhanced from 0.8.9 to 0.11.1
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/L, Area/UI

#869 Fix Istio sidecar injection by moving from annotations to labels
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/overlays/db/model-registry-db-deployment.yaml
  manifests/kustomize/overlays/postgres/model-registry-db-deployment.yaml
Labels: size/XS, approved, lgtm, Area/Manifests, ok-to-test

#850 feat: Introduce Tilt as a dev environment
  devenv/.dockerignore
  devenv/.gitignore
  devenv/Makefile
  devenv/README.md
  devenv/Tiltfile
  devenv/configs/helm-values/jupyterhub.yaml
  devenv/configs/kustomize/ui-rbac/clusterrolebinding.yaml
  devenv/configs/kustomize/ui-rbac/kustomization.yaml
  devenv/configs/tiltfiles/frontend.tiltfile
  devenv/configs/tiltfiles/jupyterhub.tiltfile
  devenv/configs/tiltfiles/pythonclient.tiltfile
  devenv/configs/tiltfiles/setup.tiltfile
  devenv/tilt_config.json
  tilt-ui.dockerfile
  tilt.dockerfile
Labels: approved, lgtm, size/L

#896 gha: cherry-pick #872 to v0.2.15 branch
  .github/workflows/build-and-push-csi-image.yml
  .github/workflows/build-and-push-image.yml
  .github/workflows/build-and-push-ui-images.yml
  .github/workflows/build-image-pr.yml
  .github/workflows/python-tests.yml
  Makefile
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/options/csi/clusterstoragecontainer.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
  scripts/build_deploy.sh
Labels: approved, lgtm, size/M, Area/GitHub, Area/Manifests

#872 [feature] change default image repository to ghcr
  .github/workflows/build-and-push-csi-image.yml
  .github/workflows/build-and-push-image.yml
  .github/workflows/build-and-push-ui-images.yml
  .github/workflows/build-image-pr.yml
  .github/workflows/python-tests.yml
  Makefile
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/options/csi/clusterstoragecontainer.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
  scripts/build_deploy.sh
Labels: approved, lgtm, size/M, Area/GitHub, Area/Manifests

#899 build: update image name with prefix following KSC
  .github/workflows/build-and-push-csi-image.yml
  .github/workflows/build-and-push-image.yml
  .github/workflows/build-and-push-ui-images.yml
  .github/workflows/build-image-pr.yml
  .github/workflows/build-image-ui-pr.yml
  .github/workflows/csi-test.yml
  Makefile
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/options/csi/clusterstoragecontainer.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
  scripts/build_deploy.sh
  test/csi/e2e_test.sh
  test/csi/setup_test_env.sh
  test/scripts/install_modelregistry.sh
Labels: approved, lgtm, size/M, Area/GitHub, Area/Manifests

#900 chore: align manifest for 0.2.15.2
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: approved, size/S, lgtm, Area/Manifests

#901 build: fix Makefile following GHCR image rename
  Makefile
Labels: size/XS, approved, lgtm

#902 chore: align manifest for 0.2.15.3
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: approved, size/S, lgtm, Area/Manifests

#893 docs: fix annoyance in Swagger GUI generated example
  api/openapi/model-registry.yaml
Labels: size/XS, approved, lgtm, Area/Go REST server

#911 fix(devenv): switch overridden images to ghcr.io
  devenv/Tiltfile
  devenv/configs/tiltfiles/frontend.tiltfile
Labels: size/XS, approved, lgtm

#915 fix(frontend): Remove downstream references from shared/images
  clients/ui/frontend/src/shared/components/design/utils.ts
  clients/ui/frontend/src/shared/images/Icon-Layered_A_Black-RGB.svg
  clients/ui/frontend/src/shared/images/Icon-Storage-A-Black-RGB.svg
  clients/ui/frontend/src/shared/images/Icon-Sys_admin-A-Black-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Branch-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Connected-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Cubes-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Double_arrow_right-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Folder-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Notebook-Images-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Server-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Server_upload-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Shared_workspace-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Storage-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-User-RGB.svg
  clients/ui/frontend/src/shared/images/UI_icon-Wrench-RGB.svg
Labels: approved, size/S, lgtm, Area/UI

#913 fix(frontend): sort namespaces by name for the namespace selector
  clients/ui/frontend/src/shared/context/NamespaceSelectorContext.tsx
  clients/ui/frontend/src/shared/context/__tests__/NamespaceSelectorContext.test.tsx
Labels: size/XS, approved, lgtm, Area/UI

#866 Bring midstream changes to upstream
  clients/ui/api/openapi/mod-arch.yaml
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/artifacts_handler.go
  clients/ui/bff/internal/api/model_artifacts_handler.go
  clients/ui/bff/internal/api/model_artifacts_handler_test.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
  clients/ui/bff/internal/repositories/artifacts.go
  clients/ui/bff/internal/repositories/model_artifacts.go
  clients/ui/bff/internal/repositories/model_registry_client.go
  clients/ui/frontend/src/__mocks__/index.ts
  clients/ui/frontend/src/app/__tests__/updateTimestamps.test.ts
  clients/ui/frontend/src/app/__tests__/utils.spec.ts
  clients/ui/frontend/src/app/api/__tests__/service.spec.ts
  clients/ui/frontend/src/app/api/__tests__/updateTimestamps.test.ts
  clients/ui/frontend/src/app/api/k8s.ts
  clients/ui/frontend/src/app/api/service.ts
  clients/ui/frontend/src/app/api/updateTimestamps.ts
  clients/ui/frontend/src/app/hooks/useModelRegistries.ts
  clients/ui/frontend/src/app/hooks/useModelRegistryAPIState.tsx
  clients/ui/frontend/src/app/hooks/useModelVersionTuningData.ts
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryRoutes.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelPropertiesDescriptionListGroup.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelPropertiesTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelRegistrySelector.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsHeaderActions.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsTabs.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionRegisteredDeploymentsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/const.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ArchiveModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionArchiveDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionsArchive.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModel.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModelDetailsFormSection.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModelErrors.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterVersion.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisteredModelSelector.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationCommonFormSections.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegistrationFormFooter.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/__tests__/utils.spec.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/const.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/usePrefillRegisterVersionFields.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/useRegisterModelData.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/utils.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/utils.ts
  clients/ui/frontend/src/app/types.ts
  clients/ui/frontend/src/app/utils.ts
  clients/ui/frontend/src/shared/hooks/useNamespaces.ts
  clients/ui/frontend/src/shared/hooks/useSettings.tsx
  clients/ui/frontend/src/shared/k8sTypes.ts
  clients/ui/frontend/src/shared/types.ts
  clients/ui/scripts/deploy_kind_cluster.sh
Labels: approved, lgtm, size/XXL, Area/UI

#914 500 custom prop type
  internal/converter/mlmd_openapi_converter_util.go
  internal/converter/openapi_mlmd_converter_util.go
  pkg/api/error.go
  pkg/core/registered_model_test.go
Labels: approved, lgtm, size/M, Area/Go REST server

#854 Revamp profile installation instructions for MR
  manifests/kustomize/README.md
Labels: approved, lgtm, size/L, Area/Manifests
