Repository kubeflow/model-registry, pull requests merged in 2025-07, with the labels that each got.

#1247 Admin Settings - RBAC - Main view and routes 2
  clients/ui/bff/internal/api/model_registry_settings_rbac_handler.go
  clients/ui/bff/internal/api/model_registry_settings_rbac_handler_test.go
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__mocks__/mockRoleBindingK8sResource.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/commands/api.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistrySettings/modelRegistrySettings.cy.ts
  clients/ui/frontend/src/app/api/k8s.ts
  clients/ui/frontend/src/app/hooks/useGroups.ts
  clients/ui/frontend/src/app/hooks/useModelRegistryCR.ts
  clients/ui/frontend/src/app/pages/modelRegistrySettings/ModelRegistriesPermissions.tsx
  clients/ui/frontend/src/app/pages/modelRegistrySettings/ModelRegistryManagePermissions.tsx
  clients/ui/frontend/src/app/pages/modelRegistrySettings/useModelRegistryRoleBindings.ts
  clients/ui/frontend/src/app/pages/settings/CreateModal.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistriesTable.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistriesTableRow.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettings.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistrySettingsRoutes.tsx
  clients/ui/frontend/src/app/pages/settings/roleBindingUtils.ts
  clients/ui/frontend/src/app/shared/components/RedirectErrorState.tsx
  clients/ui/frontend/src/app/shared/components/types.ts
  clients/ui/frontend/src/app/shared/components/utils.ts
  clients/ui/frontend/src/app/types.ts
  clients/ui/frontend/src/concepts/k8s/K8sNameDescriptionField/K8sNameDescriptionField.tsx
Labels: approved, lgtm, size/XXL, Area/UI, ok-to-test

#1255 chore: bump MR py client version to 0.2.21
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#1265 fix: prevent dsn format bugs when adding tls mode in mysql
  internal/datastore/embedmd/mysql/connect.go
Labels: approved, size/S, lgtm, Area/Go REST server

#1268 update broken link for dir rename in manifests
  README.md
Labels: size/XS, approved, lgtm

#1219 Tweak to support federated platform
  .github/workflows/build-and-push-ui-images-standalone.yml
  .github/workflows/build-and-push-ui-images.yml
  clients/ui/.env
  clients/ui/.env.production
  clients/ui/Dockerfile
  clients/ui/Makefile
  clients/ui/README.md
  clients/ui/bff/Makefile
  clients/ui/bff/cmd/main.go
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_registry_settings_groups_handler_test.go
  clients/ui/bff/internal/api/model_registry_settings_rbac_handler_test.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/integrations/kubernetes/internal_k8s_client.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/internal_k8s_client_mock.go
  clients/ui/bff/internal/integrations/kubernetes/k8mocks/token_k8s_client_mock.go
  clients/ui/bff/internal/integrations/kubernetes/shared_k8s_client.go
  clients/ui/bff/internal/integrations/kubernetes/types.go
  clients/ui/bff/internal/integrations/mrserver/http.go
  clients/ui/bff/internal/integrations/mrserver/http_test.go
  clients/ui/bff/internal/models/model_registry.go
  clients/ui/bff/internal/repositories/model_registry.go
  clients/ui/frontend/.env
  clients/ui/frontend/config/dotenv.js
  clients/ui/frontend/config/webpack.common.js
  clients/ui/frontend/config/webpack.dev.js
  clients/ui/frontend/docs/env-variables.md
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/api/__tests__/service.spec.ts
  clients/ui/frontend/src/app/context/AppContext.ts
  clients/ui/frontend/src/app/hooks/useUser.ts
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryRoutes.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsTabs.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterModel.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisterModel/RegisterVersion.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistriesTableRow.tsx
  clients/ui/frontend/src/app/utilities/const.ts
  clients/ui/frontend/src/bootstrap.tsx
  manifests/kustomize/options/ui/overlays/istio/kustomization.yaml
  manifests/kustomize/options/ui/overlays/kubeflow/kustomization.yaml
  manifests/kustomize/options/ui/overlays/kubeflow/model-registry-ui-deployment.yaml
  manifests/kustomize/options/ui/overlays/standalone/auth-proxy-configmap.yaml
  manifests/kustomize/options/ui/overlays/standalone/kustomization.yaml
  manifests/kustomize/options/ui/overlays/standalone/model-registry-ui-deployment.yaml
  manifests/kustomize/options/ui/overlays/standalone/model-registry-ui-service.yaml
Labels: approved, lgtm, size/XXL, Area/GitHub, Area/UI, Area/Manifests

#1266 feat(catalog): reload sources and static catalogs
  catalog/internal/catalog/catalog.go
  catalog/internal/catalog/catalog_test.go
  catalog/internal/catalog/monitor.go
  catalog/internal/catalog/monitor_test.go
  catalog/internal/catalog/yaml_catalog.go
  catalog/internal/server/openapi/api_model_catalog_service_service.go
  catalog/internal/server/openapi/api_model_catalog_service_service_test.go
  go.mod
Labels: approved, lgtm, size/XL

#1273 Add rolebinding to manage permissions-project tab
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissions.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissionsNameInput.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissionsTable.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissionsTableRow.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/RoleBindingPermissionsTableSection.tsx
  clients/ui/frontend/src/app/pages/settings/roleBinding/utils.ts
  clients/ui/frontend/src/app/shared/components/types.ts
Labels: approved, lgtm, size/L, Area/UI

#1282 chore: add myself as reviewer
  OWNERS
Labels: size/XS, approved, lgtm

#1286 fix: prevent multiple db instances in parallel
  internal/datastore/embedmd/mysql/connect.go
  internal/datastore/embedmd/postgres/connect.go
  internal/datastore/embedmd/service.go
  internal/db/connector.go
  internal/proxy/readiness.go
  internal/proxy/readiness_test.go
Labels: approved, lgtm, size/L, Area/Go REST server

#1291 ci: add test-e2e for the async-upload Job
  .github/workflows/async-upload-test.yml
  jobs/async-upload/Makefile
  jobs/async-upload/tests/conftest.py
Labels: approved, size/S, lgtm, Area/GitHub

#1294 chore(mr-client): match up the hand-rolled artifact data model to match the api
  clients/python/src/model_registry/types/artifacts.py
Labels: size/XS, approved, lgtm, Area/MR Python client

#1298 Expand README to list out available parameters for async job
  jobs/async-upload/README.md
  jobs/async-upload/job/config.py
Labels: approved, lgtm, size/M

#1302 container: use UBI and poetry export
  jobs/async-upload/Dockerfile
  jobs/async-upload/requirements.txt
Labels: approved, lgtm, size/M

#1296 Move PasswordInput to shared folder and remove deprecated Modal component
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ArchiveModelVersionModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ArchiveRegisteredModelModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ModelLabels.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/RestoreModelVersionModal.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/RestoreRegisteredModel.tsx
  clients/ui/frontend/src/app/pages/settings/DeleteModelRegistryModal.tsx
  clients/ui/frontend/src/app/pages/settings/ModelRegistryDatabasePassword.tsx
  clients/ui/frontend/src/app/shared/components/PasswordInput.tsx
Labels: approved, lgtm, size/L, Area/UI

#1313 feat: move to go 1.24
  .github/workflows/build.yml
  .github/workflows/check-db-schema-structs.yaml
  Dockerfile
  Dockerfile.odh
  README.md
  cmd/csi/Dockerfile.csi
  devenv/README.md
  docs/mr_go_library.md
  go.mod
  gorm-gen/go.mod
Labels: approved, size/S, lgtm, Area/GitHub, Area/Go REST server, Area/Documentation

#1316 chore: update deps that required go 1.24
  go.mod
  go.sum
Labels: approved, lgtm, size/M

#1319 deps(async-upload): move aiohttp as dev since used only in testing
  jobs/async-upload/poetry.lock
  jobs/async-upload/pyproject.toml
Labels: approved, lgtm, size/M

#1300 feat(catalog): Implement ListModels endpoint
  api/openapi/catalog.yaml
  api/openapi/src/catalog.yaml
  catalog/internal/catalog/catalog.go
  catalog/internal/catalog/testdata/empty-catalog.yaml
  catalog/internal/catalog/testdata/test-list-models-catalog.yaml
  catalog/internal/catalog/yaml_catalog.go
  catalog/internal/catalog/yaml_catalog_test.go
  catalog/internal/server/openapi/api_model_catalog_service_service.go
  catalog/internal/server/openapi/api_model_catalog_service_service_test.go
  catalog/internal/server/openapi/pagination.go
  catalog/internal/server/openapi/pagination_test.go
  catalog/pkg/openapi/api_model_catalog_service.go
  catalog/pkg/openapi/sortable.go
Labels: approved, lgtm, size/XL, Area/Go REST server

#1320 k8s(async-upload): fix Job Manifest default image name
  jobs/async-upload/samples/sample_job_s3_to_oci.yaml
Labels: size/XS, approved, lgtm

#1288 Federated mr implementation
  clients/ui/Makefile
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/integrations/kubernetes/shared_k8s_client.go
  clients/ui/bff/internal/integrations/kubernetes/types.go
  clients/ui/bff/internal/integrations/mrserver/http.go
  clients/ui/bff/internal/integrations/mrserver/http_test.go
  clients/ui/bff/internal/repositories/model_registry.go
  clients/ui/frontend/config/dotenv.js
  clients/ui/frontend/config/webpack.dev.js
  clients/ui/frontend/src/app/utilities/const.ts
  clients/ui/frontend/src/bootstrap.tsx
  clients/ui/scripts/kubernetes_login_cluster.sh
Labels: approved, lgtm, size/L, Area/UI

#1324 Update mock version function to filter versions based on rmID
  clients/ui/bff/internal/api/registered_models_handler_test.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
Labels: approved, lgtm, Area/UI

#1301 feat(docs): Guide to report security vulnerabilities
  SECURITY.md
Labels: approved, lgtm, size/M

#1303 fix: centered header buttons
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelsTableToolbar.tsx
Labels: approved, lgtm, size/L, Area/UI

#1336 fix: remove incorrect prepare workflow call in build-and-push-image.yml
  .github/workflows/build-and-push-image.yml
Labels: size/XS, approved, lgtm, Area/GitHub

#1338 refactor: remove remaining Robot Framework after migration
  .github/workflows/run-robot-tests.yaml
  README.md
  docs/Model Registry Testing areas.drawio
  docs/Model Registry Testing areas.drawio.png
  docs/Model Registry Testing areas.png
  test/robot/MRkeywords.resource
  test/robot/ModelRegistry.py
  test/robot/Regression.robot
  test/robot/Setup.resource
  test/robot/UserStory.robot
  test/robot/data.yaml
  test/robot/requirements.txt
Labels: approved, lgtm, size/XL, Area/GitHub, Area/Documentation

#1359 chore: align manifest for 0.2.21
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
  manifests/kustomize/options/ui/base/kustomization.yaml
Labels: approved, lgtm

#1361 Fixing form-data package CVE (CRITICAL)
  clients/ui/frontend/package-lock.json
Labels: size/XS, approved, lgtm, Area/UI

#1370 Add .port-forwards.pid to .gitignore
  .gitignore
  clients/python/.gitignore
Labels: size/XS, approved, lgtm, Area/MR Python client

#1326 [async-job] E2E Test with Sample Job
  .github/workflows/async-upload-test.yml
  Makefile
  jobs/async-upload/.dockerignore
  jobs/async-upload/Makefile
  jobs/async-upload/poetry.lock
  jobs/async-upload/pyproject.toml
  jobs/async-upload/samples/sample_job_s3_to_oci.yaml
  jobs/async-upload/tests/conftest.py
  jobs/async-upload/tests/integration/README.md
  jobs/async-upload/tests/integration/__init__.py
  jobs/async-upload/tests/integration/test_integration_async_upload.py
  manifests/kustomize/base/model-registry-deployment.yaml
Labels: approved, lgtm, size/XL, Area/GitHub, Area/Manifests

#1372 ci: fix root Make image/push
  Makefile
  jobs/async-upload/Makefile
Labels: approved, size/S, lgtm

#1374 Refactor async job config to be more pythonic and typesafe
  .gitignore
  jobs/async-upload/.dockerignore
  jobs/async-upload/.gitignore
  jobs/async-upload/job/config.py
  jobs/async-upload/job/download.py
  jobs/async-upload/job/entrypoint.py
  jobs/async-upload/job/models.py
  jobs/async-upload/job/mr_client.py
  jobs/async-upload/job/upload.py
  jobs/async-upload/poetry.lock
  jobs/async-upload/pyproject.toml
  jobs/async-upload/tests/test_config.py
  jobs/async-upload/tests/test_download.py
  jobs/async-upload/tests/test_mr_client.py
  jobs/async-upload/tests/test_upload.py
Labels: approved, lgtm, size/XXL

#1312 feat: added unit test files to frontend
  clients/ui/frontend/.env
  clients/ui/frontend/docs/env-variables.md
  clients/ui/frontend/src/app/pages/modelRegistry/screens/__tests__/utils.spec.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/types.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/utils.ts
  clients/ui/frontend/src/app/pages/settings/__tests__/ModelRegistryTableRowStatus.spec.tsx
  clients/ui/frontend/src/app/types.ts
  clients/ui/frontend/src/app/utilities/const.ts
  clients/ui/frontend/src/concepts/modelRegistry/types.ts
  clients/ui/frontend/src/concepts/modelRegistry/utils.ts
Labels: approved, lgtm, size/XL, Area/UI

#1367 deleted model serving references in frontend code
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/modelVersionArchive.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelVersionArchive.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsHeaderActions.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionDetailsTabs.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionDetails/ModelVersionRegisteredDeploymentsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ArchiveModelVersionDetails.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersionsArchive/ModelVersionArchiveDetails.tsx
Labels: approved, lgtm, size/L, Area/UI

#1384 Refactor details page for the registered model
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistry.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelRegistryView/modelDetailsCard.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelDetailsCard.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelVersionDetails.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/modelVersions.cy.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelRegistry/registeredModelArchive.cy.ts
  clients/ui/frontend/src/app/pages/modelRegistry/ModelRegistryRoutes.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelDetailsCard.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelDetailsView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersions.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionsTabs.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/const.ts
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelTableRow.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ModelEditableLabelsDescriptionListGroup.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ModelPropertiesExpandableSection.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/components/ModelPropertiesTableRow.tsx
Labels: approved, lgtm, size/XXL, Area/UI

#1393 Bumped saas and mod-arch-shared versions
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
Labels: approved, lgtm, size/M, Area/UI
